.container {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  background-color: initial;
}

.card-content{
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.main-card {
  padding: 10px;
  width: 80%;
}

#paragraphe{
  margin-bottom: 70px;
}

#paragraphe p{

  font-size: 12px;
}


.form-field {
  width: 45%;
  margin-bottom: 15px; /* Espacement entre les champs */
}

.full-width {
  width: 45%; /* Prend 100% de la largeur du conteneur */
  height: 100px;
}

label{
  font-weight: 500;
}

input[type="text"],
textarea,
select {
  width: 100%; /* Largeur 100% */
  padding: 10px; /* Espacement intérieur */
  border: 1px solid #ccc; /* Bordure légère */
  border-radius: 4px; /* Coins arrondis */
}

.card-footer{
  margin-top: 40px;
}

.card-footer label {
  font-size: 15px;
  font-weight: 400;
}

#labelF{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.radio-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.radio-button {
  display: flex;
  align-items: center;
  margin-bottom: 8px; /* Espacement entre les boutons */
}

.star {
  margin-left: 4px; /* Espacement entre le texte et les étoiles */
}

/* Responsivité */
@media (max-width: 768px) {
  .container {
    padding: 20px; /* Réduction du padding sur petits écrans */
  }

  .main-card {
    flex: 1 1 100%; /* Prend 100% de la largeur sur petits écrans */
  }

  .full-width {
    width: 100%; /* S'assure que les champs prennent toute la largeur */
  }
}
