<div class="container">
    <div class="card">
        <form action="" class="form">
            <h2>Créez votre compte partenaire</h2>
            <p>Créez un compte pour inscrire et gérer votre <br>
                établissement.</p>
            <div>
                <label for="email">Adresse e-mail</label><br>
                <input type="email" name="email" id="nom_utilisateur" required><br>
                <button class="button bouton-unique1" type="button" [routerLink]="['/infos-utilisateur']">Continuer</button>
            </div>
        </form>
        <div class="hr">
            <hr>
        </div>
        <p style="text-align: center;">
            Pour tous utilisateurs eyons pas de compte  partenaire veillez belle et <br> créer un compte pour le suivi de votre établissement
        </p>
        <div>
            <button class="button bouton-unique2" [routerLink]="['/connectez-vous']">Se connecter</button>
        </div>
        <div class="hr">
            <hr>
        </div>
        </div>
</div>
