.container {
    display: flex; 
    justify-content: center;
    margin: 25px 25px 10px 0;
    width: 60%;
    max-width: 800px;
    border-radius: 10px;
    background-color: white;
  } 
   
  .main-card {
    padding-left: 20px;
    flex: 1 1 100%; /* S'assure que la carte utilise toute la largeur disponible */
    background-color: initial;
  }
  
#remboursable{
  margin: 15px 0 10px 10px;
  width: 300px;
  border-radius: 8px;
  height: 30px;
  border: 1px solid rgb(21, 21, 21);
}

.espace{
  margin-left: 10px;
}

label {
    margin-left: 10px; /* Espacement entre le checkbox et le label */
  }

  

.cont {
    display: flex; /* Utiliser Flexbox pour aligner les éléments */
    gap: 10px; /* Espace entre les boîtes */
    height: 60px;
}


.box {
    border-radius: 15px; /* Arrondir les coins */
    padding: 10px; /* Espacement intérieur */
    background-color: initial; /* Couleur de fond (facultatif) */
    flex: 1; /* Permet aux boîtes de prendre une largeur égale */
}


.input-container {
    display: inline-block; /* Permet aux div de s'aligner sur la même ligne */
    margin-right: 10px; /* Espace entre les champs */
    
}



.box {
    border-radius: 15px; /* Arrondir les coins */
    padding: 10px; /* Espacement intérieur */
    background-color: initial; /* Couleur de fond (facultatif) */
    flex: 1; /* Permet aux boîtes de prendre une largeur égale */
    height: 30px; /* Définir une hauteur fixe ou maximale */
    overflow: hidden; /* Cacher le débordement */
    display: flex; /* Utiliser Flexbox pour centrer le contenu */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    border: 1px solid rgb(94, 94, 94);
}



.custom-input {
    border: 1px solid #ccc; /* Bordure pour imiter un input */
    border-radius: 10px; /* Arrondir les coins */
    padding: 5px; /* Espacement intérieur */
    width: 200px; /* Largeur fixe */
    height: auto; /* Hauteur automatique */
    min-height: 40px; /* Hauteur minimale */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
    overflow-wrap: break-word; /* Permettre le retour à la ligne */
    white-space: pre-wrap; /* Permettre le retour à la ligne */
    outline: none; /* Supprimer le contour par défaut */
    margin: 10px 0;
}

.custom-input.readonly {
    background-color: #f0f0f0; /* Couleur de fond en mode lecture */
    pointer-events: none; /* Désactiver les événements de souris */
}

.btn-ajout{
    background-color: initial;
    color: #77B5FE;
    border: none;
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
}

  
@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 10px; /* Réduction du padding sur petits écrans */
  }

  .main-card, .full-width {
    width: auto; 
  }

}
  