<div class="container">
  <mat-card class="main-card" id="grand">
    <mat-card-header>
      <mat-card-title class="title">Informations à savoir avant d'inscrire votre etablissement sur Yori.com</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="faq-item">
        <p>
          <img src="assets/img/coche.png" alt="coche" class="faq-icon">
          <strong>Les réservations sont-elles confirmées immédiatement?</strong>
        </p>
        <p class="paragraphe">Oui. Dès qu'un client effectue une réservation, celle-ci est confirmée instantanément.</p>
      </div>

      <div class="faq-item">
        <p>
          <img src="assets/img/eux.png" alt="eux" class="faq-icon">
          <strong>Puis-je choisir qui séjourne dans mon hébergement ?</strong>
        </p>
        <p class="paragraphe">Non. Tous nos utilisateurs peuvent réserver une date qui est ouverte dans votre calendrier.</p>
      </div>

      <div class="faq-item">
        <p>
          <img src="assets/img/calandar.png" alt="calandar" class="faq-icon">
          <strong>Puis-je choisir les jours pour lesquels je reçois des réservations ?</strong>
        </p>
        <p class="paragraphe">Oui. Il vous suffit de vous assurer que votre calendrier est à jour. Fermez toutes les dates pour lesquelles vous ne souhaitez pas recevoir de réservations. Si vous avez reçu des réservations via d'autres sites, veuillez également fermer les dates en question.</p>
      </div>
    </mat-card-content>

  </mat-card>
</div>
