.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0 10px 0;
  background-color: initial;
  width: 100%;
}

mat-label {
  font-weight: 500;
}

.custom-icon {
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}

.main-card {
  flex:1 1 auto;
  background-color: white;
}

.sub-card {
  flex:1 1 380px;
  background-color: initial;
}

#haut{
  margin-bottom: 10px;
  background-color: inherit;
  background-color: white;

}

ul {
  margin-top: 20px; /* Réduire l'espace */
}

/* Styles pour la responsivité */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Empiler les cartes */
    padding: 10px; /* Réduire le padding */
    width: 95%; /* Prendre 95% de la largeur */
  }

  .main-card, .sub-card {
    width: 100%; /* Prendre 100% de la largeur */
  }

  mat-card {
    margin-bottom: 15px; /* Espace entre les cartes */
  }

  .custom-icon {
    margin: 0 auto; /* Centrer l'icône dans la carte */
  }
}

