<div class="main-container">
  <div class="card-img" *ngIf="isLargeScreen">
      <img src="assets/img/auth.png" alt="">
  </div>
  <div class="wrapper">
      <div class="form-container">
          <div class="slide-controls">
              <input type="radio" name="slide" id="login" checked>
              <input type="radio" name="slide" id="signup">
              <label for="login" #loginBtn class="slide login">Login</label>
              <label for="signup" #signupBtn class="slide signup">Signup</label>
              <div class="slider-tab"></div>
          </div>
          <div class="form-inner">
              <form #loginForm class="login" (ngSubmit)="login($event)" [formGroup]="loginFormGroup">
                  <div class="field">
                      <input type="text" matInput formControlName="email" placeholder="Email Address" required>
                  </div>
                  <div class="field">
                      <input type="password" matInput formControlName="password" placeholder="Password" required>
                  </div>
                  <div class="pass-link"><a href="#">Forgot password?</a></div>
                  <div class="field btn">
                      <div class="btn-layer"></div>
                      <input type="submit" value="Login">
                  </div>
                  <div class="signup-link">Not a member? <a href="#" (click)="onSignupLinkClick($event)">Signup now</a></div>
              </form>
              <form action="#" class="signup" #signup>
                  <div class="field">
                      <input type="text" placeholder="lastname" required>
                  </div>
                  <div class="field">
                      <input type="text" placeholder="firstname" required>
                  </div>
                  <div class="field">
                      <input type="text" placeholder="Email Address" required>
                  </div>
                  <div class="field">
                      <input type="password" placeholder="Password" required>
                  </div>
                  <div class="field">
                      <input type="password" placeholder="Confirm password" required>
                  </div>
                  <div class="field btn">
                      <div class="btn-layer"></div>
                      <input type="submit" value="Signup">
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

