<div class="container">
  <div *ngIf="currentDiv === 'default'">
    <div class="gallery-container">
      <div class="titre">
        <h3>Hebergements</h3>
      </div>
      <section class="section">
        <input #fileInput type="file" accept="image/*" (change)="addImage($event)" style="display: none;" />
        <div class="image-gallery">
          <div *ngFor="let image of images; let i = index" class="image-item">
              <input type="checkbox" [checked]="isSelected(i)" (change)="toggleSelection(i)" id="image-{{i}}" />
              <label for="image-{{i}}">
                  <img [src]="image" alt="Image {{i + 1}}" class="image" />
                  <div class="image-caption">Chambre luxieuse {{i + 1}}</div>
              </label>
              <div class="all-btn">
                  <button class="btn-1" (click)="showDiv1()">Modifier</button>
                  <button class="btn" (click)="deleteSelected()">Supprimer</button>
                  <button class="btn2" (click)="showDiv2()"><mat-icon>photo_camera</mat-icon></button>
              </div>
          </div>
          <div class="btn-add">
            <button (click)="showDiv2()">
              Ajouter une categorie
            </button><br>
            <!-- <mat-icon>add_circle</mat-icon> -->
            <img src="assets/img/ajoute.png" alt="" (click)="showDiv2()">
          </div>
      </div>
      </section>
    </div>
  </div>

  <!-- div update chambre -->
   <div *ngIf="currentDiv === 'div1'">
      <div class="retour">
        <button class="revenir" (click)="showDefault()"><b>&lt;</b>Revenir à l'hébergement</button>
      </div>
      <div>
        <app-update-chambre></app-update-chambre>
        <app-update-tarifs (calculChange)="handleCalculChange($event)"></app-update-tarifs>
        <app-telecharge-photos></app-telecharge-photos>
      </div>
   </div>

   <!-- div add categorie -->
    <div  *ngIf="currentDiv === 'div2'">
      <div class="retour">
        <button class="revenir" (click)="showDefault()"><b>&lt;</b> Revenir à l'hébergement</button>
      </div>
      <div>
        <app-add-categorie></app-add-categorie>
        <app-update-tarifs (calculChange)="handleCalculChange($event)"></app-update-tarifs>
        <app-add-photo></app-add-photo>
      </div>
    </div>
</div>