<div class="container">
  <h3>Messages de yori.com</h3>
  <mat-tab-group>
    <mat-tab label="Tout les messages">
      <div *ngFor="let message of messages">
        <div (click)="selectMessage(message)" class="message-preview">
            {{ message.content | slice:0:20 }}... <!-- Affiche les 20 premiers caractères -->
        </div>

        <!-- Affiche les détails du message si celui-ci est sélectionné -->
        <div *ngIf="selectedMessage === message" class="message-details">
            <div style="display: flex; gap: 145px;">
              <h2>Détails du message</h2>
              <button (click)="openReplyPopup()" class="btn-repondre"> <mat-icon>reply</mat-icon> Répondre à ce message</button>
            </div>
            <p>{{ selectedMessage.content }}</p>
            <!-- <button (click)="selectMessage(selectedMessage)">Fermer</button> -->

        </div>

        <!-- Pop-up de réponse -->
        <!-- <div *ngIf="isReplying" class="reply-popup">
            <h3>Écrire une réponse</h3>
            <textarea></textarea>
            <button (click)="submitReply()">Envoyer</button>
            <button (click)="closeReplyPopup()">Annuler</button>
        </div> -->
        <div *ngIf="isReplying" class="reply-popup">
          <div style="display:flex; gap: 300px; background-color: rgb(181, 215, 255); width: 100%; margin:0; color: white;">
            <h3>Écrire une réponse</h3>
            <button (click)="closeReplyPopup()">x</button>
          </div>
          <div class="reply-section">
              <!-- <label for="subject">Objet :</label> -->
              <input type="text" id="subject" [(ngModel)]="replySubject" placeholder="objectif" />

              <!-- <label for="body">Corps du message :</label> -->
              <textarea id="body" [(ngModel)]="replyBody" placeholder="Écrivez votre réponse ici"></textarea>

              <!-- <label for="attachment">Joindre un document :</label> -->
              <input type="file" id="attachment" (change)="onFileSelected($event)" />
          </div>
          <button (click)="submitReply()">Envoyer</button>
      </div>
    </div>
 </mat-tab>
    <mat-tab label="Envoyés"> Content 2 </mat-tab>
    <mat-tab label="Suivis"> Content 3 </mat-tab>
  </mat-tab-group>

</div>
