.message-preview {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.message-details {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px; /* Espace entre le message et les détails */
  background-color: #f9f9f9; /* Couleur de fond pour les détails */
}

.reply-popup {
  position: fixed; /* Position fixe pour la superposition */
  top: 50%; /* Centrer verticalement */
  left: 50%; /* Centrer horizontalement */
  transform: translate(-50%, -50%); /* Ajuste la position pour centrer */
  border: 1px solid #ccc;
  /* padding: 20px; */
  border-radius: 5px;
  background-color: white; /* Fond blanc pour le pop-up */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Ombre pour l'effet pop-up */
  z-index: 1000; /* Assure que le pop-up est au-dessus des autres éléments */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 999; /* Juste en dessous du pop-up */
}

.reply-section {
 margin-top: 10px; /* Espace entre l'entête et la section de réponse */
 padding: 10px;
}

.reply-section label {
 display: block; /* Affiche chaque label sur une nouvelle ligne */
 margin-top: 10px; /* Espace entre les labels et les champs */
}

.reply-section input[type="text"],
.reply-section textarea {
 width: calc(100% - 20px); /* Largeur complète en tenant compte du padding */
 padding: 10px; /* Padding interne */
 margin-top: 5px; /* Espace au-dessus des champs */
 border-radius: 4px; /* Coins arrondis */
 border: 1px solid #ccc; /* Bordure grise */
 box-sizing: border-box; /* Inclut padding et bordure dans la largeur totale */
}

.reply-section input[type="file"] {
 margin-top: 5px; /* Espace au-dessus du champ de fichier */
 display:block; /* Pour s'assurer qu'il prend toute la largeur disponible */
}

button {
height: 35px;
width: auto;
 background-color:#007bff; /* Couleur de fond bleu */
 color:white; /* Texte blanc */
 border:none; /* Pas de bordure par défaut */
 border-radius:4px; /* Coins arrondis pour les boutons */
 cursor:pointer; /* Curseur pointeur sur hover */
 margin-top: 20px;
}

button:hover {
 background-color:#0056b3; /* Couleur plus foncée au survol */
}

