<div class="container">
    <div class="top-bar">
        <div class="logo">
          <img src="assets/img/logo_bleu.png" alt="Logo" height="70" width="100">
        </div>
        <div class="dropdown">
          <button class="dropdown-button">
            <div class="initial-circle">
              {{ userName.charAt(0) }}
            </div>
            <span>{{ userName }}</span>
          </button>
          <div class="dropdown-menu">
            <a href="/page1">Page 1</a>
            <a href="/page2">Page 2</a>
            <a href="#" (click)="logout()">Déconnexion</a>
          </div>
        </div>
      </div>
</div>
 
