    <div class="tab-container">
      <mat-tab-group (selectedTabChange)="onTabChange($event)" [selectedIndex]="activeTabIndex">
        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" [ngClass]="{'active': activeTabIndex >= 0}"><mat-icon>edit_calendar</mat-icon></div>
              <div class="circle-title">Réservations</div>
            </div>
          </ng-template>
          <app-reservation></app-reservation>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" (click)="openSelect(select)">
                <mat-icon>border_color</mat-icon>
              </div>
              <select #select (change)="showComponent($event)" style="background-color: #77B5FE; color: white; border: none;">
                <option value="" disabled [selected]="currentComponent === null" >Etablissement</option>
                <option value="composant1" [selected]="currentComponent === 'composant1'">info sur l'etablissement</option>
                <option value="composant2" [selected]="currentComponent === 'composant2'">type d'etablissement</option>
                <option value="composant3" [selected]="currentComponent === 'composant3'">photos</option>
                <option value="composant4" [selected]="currentComponent === 'composant4'">equipement et service</option>
                <option value="composant5" [selected]="currentComponent === 'composant5'">hébergement</option>
              </select>
            </div>
          </ng-template>
          <div *ngIf="currentComponent">
            <ng-container [ngSwitch]="currentComponent">
              <app-info-etablissement *ngSwitchCase="'composant1'"></app-info-etablissement>
              <app-type *ngSwitchCase="'composant2'"></app-type>
              <app-photo-etablisssement *ngSwitchCase="'composant3'"></app-photo-etablisssement>
              <app-type *ngSwitchCase="'composant4'"></app-type>
              <app-hebergements *ngSwitchCase="'composant5'"></app-hebergements>
            </ng-container>
          </div>
        </mat-tab>


        <mat-tab>la
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" [ngClass]="{'active': activeTabIndex >= 2}"><mat-icon> mail_outline</mat-icon></div>
              <div class="circle-title">Boite de reception</div>
            </div>
          </ng-template>
         <app-boite-reception></app-boite-reception>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" [ngClass]="{'active': activeTabIndex >= 3}">
                <mat-icon>favorite</mat-icon>
              </div>
              <div class="circle-title">Commentaires clients</div>
            </div>
          </ng-template>
          <app-commentaires></app-commentaires>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" [ngClass]="{'active': activeTabIndex >= 3}">
                <mat-icon>receipt_long</mat-icon>
              </div>
              <div class="circle-title">Factures</div>
            </div>
          </ng-template>
          <app-factures></app-factures>
        </mat-tab>


        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" [ngClass]="{'active': activeTabIndex >= 4}"><mat-icon>trending_up</mat-icon></div>
              <div class="circle-title">Analyse</div>
            </div>
          </ng-template>
          <app-analyse></app-analyse>
        </mat-tab>
      </mat-tab-group>
    <div>
      <app-footer2></app-footer2>
    </div>
  </div>

