<div class="container">
    <div class="card">
        <form action="" class="form">
            <h2>
                Sélectionnez un numéro de <br>
                téléphone
            </h2>
            <p>
                Veuillez sélectionner un numéro de téléphoner pour <br>
                recevoir votre code de vérification par SMS
            </p>
            <div>
                <label for="tel">Numéro de téléphone</label><br>
                <input type="tel" name="tel" id="tel" class="passe"><br>
                <button class="button bouton-unique1" type="button">Envoyer le code de vérification</button><br>
                <div class="div-link">
                    <a href="">Vous ne pouvez pas efectuer la vérification ?</a>
                </div>
            </div>
        </form>
        <div class="hr">
            <hr>
        </div>
        </div>
</div>  