<div class="container">
  <div class="haut">
    <div class="gauche jr1" id="jr1">
      <div class="text">
        <label>JOUR</label>
        <label>07</label>
      </div>
      <div class="argent">
        <div class="image" style="background-color: #3cb51280">
          <img src="assets/img/argent.png" alt="" />
        </div>
        <p>245.000 F CFA</p>
      </div>
    </div>
    <div class="droit jr2" id="jr2">
      <div class="text">
        <label>SEMAINE</label>
        <label>02</label>
      </div>
      <div class="argent">
        <div class="image" style="background-color: #c2060680">
          <img src="assets/img/argent.png" alt="" />
        </div>
        <p>1.125.000 F CFA</p>
      </div>
    </div>
  </div>
  <div class="milieu">
    <div class="gauche jr3" id="jr3">
      <div class="text">
        <label>MOIS</label>
        <label>AOUT</label>
      </div>
      <div class="argent">
        <div class="image" style="background-color: #ffde7480">
          <img src="assets/img/argent.png" alt="" />
        </div>
        <p>3.755.000 F CFA</p>
      </div>
    </div>
    <div class="droit jr4" id="jr4">
      <div class="text">
        <label>ANNEE</label>
        <label>2024</label>
      </div>
      <div class="argent">
        <div class="image" style="background-color: #0547f180">
          <img src="assets/img/argent.png" alt="" />
        </div>
        <p>16.316.000 F CFA</p>
      </div>
    </div>
  </div>
  <div class="bas">
    <div class="graphique">
      <div class="jours"></div>
      <div class="bars">
        <button type="button" class="jr1"></button>
        <button type="button" class="jr2"></button>
        <button type="button" class="jr3"></button>
        <button type="button" class="jr4"></button>
      </div>
    </div>
    <div class="graph">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="options"
        style="width: 100%; height: 400px; display: block"
      >
      </highcharts-chart>
    </div>
  </div>
</div>
