body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0; 
  background-color: #fff;
  /* background-color: inherit; */

}




.tab-navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacement entre les boutons */
  margin-top: 10px; /* Espace au-dessus des boutons */
  padding-bottom: 10px;
  margin-left: 30px;
}

.tab-navigation-buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  gap: 5px; /* Espacement entre l'icône et le texte */
}

.tab-navigation-buttons button:first-child {
  background-color: #fff; /* Couleur de fond du bouton "Précédent" */
  color: rgba(13, 13, 197, 0.8); /* Couleur du texte du bouton "Précédent" */
  border: 2px solid rgba(13, 13, 197, 0.8); /* Bordure pour le bouton "Précédent" */
}

.tab-navigation-buttons button:last-child {
  background-color: rgba(13, 13, 197, 0.8); /* Couleur de fond du bouton "Suivant" */
  color: #fff; /* Couleur du texte du bouton "Suivant" */
}

.tab-navigation-buttons button:hover {
  opacity: 0.8;
}

.tab-navigation-buttons button:active {
  transform: scale(0.95);
}

.chevron {
  font-size: 20px; /* Taille des chevrons */
}


.tab-container {
  position: relative;
  box-shadow: 0px 4px 8px rgba(65, 66, 65, 0.639);
  width: 90%;
  margin-left: 60px;
  border-radius: 10px;
  height: 50px;
  padding-top: 20px 20px 0 20px;
  background-color: white;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* oui */
  justify-content: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(211, 211, 211);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.circle.active {
  background-color: rgba(13, 13, 197, 0.8); /* Couleur bleue pour les étapes complétées */
}

.circle-title {
  margin-top: 5px; /* Espace entre le cercle et le titre */
  font-size: 12px;
  color: #333; /* Couleur du texte */
  /* oui  */
  text-align: center;
}

@media (max-width: 768px) {
  .tab-navigation.style1, .tab-navigation.style3, .tab-navigation.style4,.tab-navigation.style5,.tab-navigation.style2,.tab-navigation.style6 {
    margin: auto;
  }
  body{
    height: auto;
    margin: 0;
    width: auto;
  }

  .tab-container{
    width: 90%;
    justify-content: center;
  }
}  