body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 0;
    width: 100%;
  }
  
  .tab-navigation{
    padding-bottom: 10px;
  }
  
  .tab-navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 5px; /* Espace au-dessus des boutons */
  }
  
  .tab-navigation-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
  }
  
  mat-tab {
    margin-bottom: 20px;
  }

  
  .tab-navigation-buttons button:last-child {
    background-color: rgba(13, 13, 197, 0.8); /* Couleur de fond du bouton "Suivant" */
    color: #fff; /* Couleur du texte du bouton "Suivant" */
  }
  
  .tab-navigation-buttons button:hover {
    opacity: 0.8;
  }
  
  .tab-navigation-buttons button:active {
    transform: scale(0.95);
  }
  
  .chevron {
    font-size: 20px; /* Taille des chevrons */
  }
  
  
  .tab-container {
    position: relative;
    box-shadow: 0px 4px 8px rgba(65, 66, 65, 0.639);
    width: 90%;
    border-radius: 10px;
    height: 50px;
    padding-top: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(211, 211, 211);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .circle.active {
    background-color: rgba(13, 13, 197, 0.8);
  }
  
  .circle-title {
    margin-top: 5px;
    font-size: 12px;
    color: #333; 
    text-align: center;
  }
  
  .tab-navigation.style1, .tab-navigation.style0{
    margin-right: 460px;
    margin-left: 350px;
  }
  
  .tab-navigation.style2,.tab-navigation.style6{
    margin-right: 460px;
    margin-left: 350px;
  }
  
  .tab-navigation.style0{
    margin-left: 510px;
  }


  @media (max-width: 768px) {
    .tab-navigation.style0, 
    .tab-navigation.style1{
      margin: auto;
    }
    body{
      height: auto;
      margin: 0;
      width: auto;
    }
  
    .tab-container{
      width: 90%;
    }
  }