.container1{
  margin-left: 70px;
  width: 90%;
}

.div-top{
  background-color: white;
  padding: 10px;
}
.div-top h4{
  display: flex;
  gap: 10px;
}



.button-container {
    display: flex;               /* Utilisation de Flexbox */
    justify-content: flex-end;   /* Aligne le bouton à droite */
    align-items: center;         /* Centre verticalement */
}

.printPage {
    background-color: initial;  /* Couleur de fond du bouton */
    color: rgb(0, 0, 0);                /* Couleur du texte */
    border: none;                /* Supprime la bordure par défaut */
    text-align: center;          /* Centre le texte dans le bouton */
    text-decoration: none;       /* Supprime la décoration du texte */
    display: inline-flex;        /* Utilise inline-flex pour aligner l'icône et le texte */
    align-items: center;         /* Centre verticalement l'icône et le texte */
    cursor: pointer;             /* Change le curseur au survol */
}

.printPage mat-icon {
    margin-right: 5px;          /* Espace entre l'icône et le texte */
}

.title {
  background-color: initial;  /* Couleur de fond du bouton */
  color: rgb(0, 0, 0);                /* Couleur du texte */
  border: none;                /* Supprime la bordure par défaut */
  text-decoration: none;       /* Supprime la décoration du texte */
  cursor: pointer;             /* Change le curseur au survol */
}

table {
  background-color: white;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

h3{
  margin-left: 15px;
  color: red;
}

/* Lignes du tableau */
tr:hover {
  background-color: #f1f1f1; /* Couleur de survol des lignes */
}

/* Case à cocher */
input[type="checkbox"] {
  transform: scale(1.2); /* Agrandir la case à cocher */
}

/* Section des totaux */
h3 {
  margin-top: 20px;
}

div {
  margin-top: 20px; /* Espacement autour de la section des totaux */
}

p {
  font-size: 16px; /* Taille de police pour les totaux */
}


.title{
  margin-left: 100px;
}

.big-card{
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
}

.card-left, .card-right{
  background-color: white;
}

.card-left{
  display: flex;               /* Utilisation de Flexbox */
    flex-direction: column;      /* Aligne les enfants en colonne */
    justify-content: space-between; /* Espace entre les éléments */
  padding: 10px;
  height: 400px;
  width: 600px;
}

.card-right{
  height: 300px;
  width: 500px;
  /* padding: 10px; */
}

.card-right div{
  padding-left: 10px;
}


.div-paiement{
  display: flex; 
  justify-content: space-between; 
  margin: 0 20px;
}


.btn-paiement{
  padding: 10px;
  border: none;
  color: white;
  background-color: #77B5FE;
  border-radius: 5px;
}


.toggle-button{
  border: none;
  background-color: initial;
}

ul {
  list-style-type: none;      /* Supprime les puces de la liste */
  padding-left: 0;            /* Supprime le remplissage à gauche */
}

li {
  padding: 5px;               /* Espacement intérieur des éléments de la liste */
}

.dropdown{
  border: none;
}

.solde {
  margin-top: auto;           /* Pousse le bouton vers le bas */
  background-color: #77B5FE;  /* Couleur de fond du bouton */
  color: white;                /* Couleur du texte */
  border: none;                /* Supprime la bordure par défaut */
  padding: 10px 20px;         /* Espacement intérieur du bouton */
  text-align: center;          /* Centre le texte dans le bouton */
  border-radius: 5px;         /* Arrondit les coins du bouton */
  cursor: pointer;             /* Change le curseur au survol */
}

.solde span{
  padding-bottom: 30px;
}

.montant{
  padding: 10px;
  background-color: #4CAF50; 
  color: white;
}


@media (max-width: 768px) {
 table{
  padding: 0;
  margin: 0;
  width: auto;
 }

 .container1,.container{
  width: auto;
  margin: 0;
  padding: 0;
 }

 th, td {
  padding: 6px;
  /* text-align: left; */
  border-bottom: 1px solid #ddd;
}


.big-card{
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
}


.card-left{
  display: flex;               
  flex-direction: column;      
  justify-content: space-between;
  padding: 5px;
  height: auto;
  width: auto;
}

.card-right{
  height: auto;
  width: auto;
  padding: 0;
}

.montant{
  padding: 1px;
  margin: 0;
  background-color: #4CAF50; 
  color: white;
}


}