/* Style général pour la section */
.cards-section {
    padding: 20px;
  }
  
  /* Style pour l'introduction avant les cartes */
  .intro {
    text-align: center;
    margin-bottom: 20px; /* Espace entre l'introduction et les cartes */
  }
  
  .intro h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .intro p {
    font-size: 1.125rem;
    color: #333;
  }
  
  /* Style pour chaque carte */
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%; /* S'assure que les cartes sont flexibles */
    max-width: 300px; /* Largeur maximale pour chaque carte */
    text-align: center; /* Centre le texte */
    padding: 16px;
    background-color: #fff;
    margin-bottom: 20px; /* Espace entre les cartes */
  }
  
  /* Style pour le conteneur de l'image */
  .card-image-wrapper {
    margin-left: 90px;
    height: 100px;
    width: 100px;
    border-radius: 8px 8px 0 0;
    padding: 10px; /* Ajoute un peu d'espace autour de l'image */
    margin-bottom: 16px; /* Espace entre l'image et le titre */
  }
  
  /* Couleurs de fond distinctes pour chaque carte */
  .color1 {
    background-color: #f0f8ff; /* AliceBlue */
  }
  
  .color2 {
    background-color: #f0f8ff; /* AntiqueWhite */
  }
  
  .color3 {
    background-color: #f0f8ff; /* Beige */
  }
  
  /* Style pour l'image de la carte */
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Style pour le titre de la carte */
  .card-title {
    /* font-size: 1.5rem; */
    margin: 16px 0;
  }
  
  /* Style pour le contenu de la carte */
  .card-content {
    font-size: 1rem;
    color: #555;
  }
  
  /* Flexbox pour aligner les cartes horizontalement */
  .cards-section {
    display: flex;
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne suivante si nécessaire */
    justify-content: space-between; /* Espace uniforme entre les cartes */
    gap: 20px; /* Espace entre les cartes */
  }