<section class="cards-section">
    <!-- Introduction avant les cartes -->
    <div class="intro">
      <h1>Bienvenue dans notre section de cartes</h1>
      <p>Explorez nos différentes options et découvrez les avantages que nous offrons. Chaque carte contient des informations clés pour vous aider à choisir ce qui vous convient le mieux.</p>
    </div>
    <!-- Cartes -->
    <div class="card">
      <div class="card-image-wrapper color1">
        <img src="assets/img/icon-globe.png" alt="Image 1" class="card-image">
      </div>
      <h3 class="card-title">Découvrez des voyageurs provenant des quatre coins de la planète</h3>
      <p class="card-content">
        Attirez une diversité de voyageurs, qu'ils soient des planificateurs méticuleux ou des aventuriers spontanés, venant des quatre coins du globe.
      </p>
    </div>
    <div class="card">
      <div class="card-image-wrapper color2">
        <img src="assets/img/icon-user-groups.png" alt="Image 2" class="card-image">
      </div>
      <h3 class="card-title">Séduisez les voyageurs qui répondent parfaitement à vos critères</h3>
      <p class="card-content">
        Découvrez des voyageurs qui valorisent ce que vous proposez et aspiren à revenir de manière récurrente, enrichissant ainsi votre expérience d'accueil.
      </p>
    </div>
    <div class="card">
      <div class="card-image-wrapper color3">
        <img src="assets/img/icon-graph.png" alt="Image 3" class="card-image">
      </div>
      <h3 class="card-title">Favorisez la croissance de votre entreprise en exploitant des outils décisionnels performants</h3>
      <p class="card-content">
        Fondez vos décisions sur des données en temps réel pour stimuler vos revenus et optimiser vos performances.
      </p>
    </div>
  </section>
