<div style="display: flex; background-color: white;">
  <div class="container-sid">
    <div class="sidenav-nav">
      <nav>
        <ul>
            <li *ngFor="let item of items; let i = index" class="sidenav-nav-item">
                <a (click)="selectTab(i)"  class="sidenav-nav-link" [ngClass]="{'active': activeComponent === item.component}">
                    <i [class]="item.icon" class="sidenav-link-icon" [class]="item.icon"></i> {{ item.label }}
                </a>
            </li>
        </ul>
    </nav>
    </div>
  </div>
  
  <div class="div2">
    <!-- Outlet pour afficher le composant actif -->
    <ng-container *ngComponentOutlet="activeComponent"></ng-container>
  </div>
</div>