<div style="display: flex; background-color: white;">
  <div class="container-sid">
    <div class="sidenav-nav">
      <nav>
        <ul>
          <li *ngFor="let item of items; let i = index" class="sidenav-nav-item">
            <a (click)="selectTab(i)" 
            class="sidenav-nav-link" 
            [ngClass]="{'active': activeComponent === item.component}" 
            role="button" 
            [attr.aria-pressed]="activeComponent === item.component ? 'true' : 'false'">
            <i [class]="item.icon" class="sidenav-link-icon"></i> {{ item.label }}
          </a>

          </li>
        </ul>
      </nav>
    </div>
  </div>
  
  <div class="div2">
    <!-- Outlet pour afficher le composant actif -->
    <ng-container *ngComponentOutlet="activeComponent"></ng-container>
  </div>
</div>



<!-- Le problème que vous rencontrez, où le graphique du composant FransdaComponent ne s'affiche qu'après avoir navigué vers un autre composant et être revenu, est souvent lié à la manière dont Angular gère le cycle de vie des composants et à la façon dont Highcharts rend les graphiques. --> 