.example-card {
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 197, 0.8);
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(13, 13, 197, 0.8);
}
.dots span{
  margin-top: 50px;
  position: absolute;
  height: 10px;
  width: 3px;
  background: #fff;
  transform: rotate(calc(var(--i) * (360deg / 15))) translateY(35px);
  animation: animate 1.5s linear infinite;
  animation-delay: calc(var(--i) * 0.1s);
  opacity: 0;
}
@keyframes animate {
 0%{
   opacity: 1;
 }
 100%{
   opacity: 0;
 }
}



.container {
  text-align: center; /* Centre le contenu de la div */
  margin-top: 20px;  /* Ajoute un espace au-dessus de la div si nécessaire */
  padding-bottom: 240px;
}

.container img {
  display: block; /* S'assure que l'image ne soit pas affectée par les marges des paragraphes */
  margin: 0 auto; /* Centre l'image horizontalement */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Assurez-vous que le pop-up est au-dessus des autres éléments */
  border-radius: 15px;
}

.btn-valide{
  background-color: rgba(13, 13, 197, 0.8);
  /* border-radius: 5px; */
  color: white;
  border: 1px solid rgba(13, 13, 197, 0.8);
  width: 80px;
  height: 30px;
}

.para{
  color: white;
}


.icon-wrapper {
  display: flex;
  justify-content: center; /* Centre le conteneur horizontalement */
  align-items: center; /* Centre le conteneur verticalement */
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
}

.icon-container {
  display: flex;
  justify-content: center; /* Centre l'icône horizontalement */
  align-items: center; /* Centre l'icône verticalement */
  background-color: rgba(13, 13, 197, 0.8); /* Couleur bleu ciel */
  border-radius: 50%; /* Crée un cercle */
  width: 50px; /* Largeur du cercle */
  height: 50px; /* Hauteur du cercle */
  margin-left: 130px;
}

mat-icon {
  color: white; /* Couleur de l'icône en blanc */
  font-size: 24px; /* Taille de l'icône, ajustez si nécessaire */
}
