.container {
  width: 60%;
  margin: 20px 20px 0 0;
  padding: 20px 0 0 0;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
}

.example-card {
  margin-bottom: 8px;
  background-color: inherit;
}

.btn1, .btn2 {
  border-radius: 10px;
  font-size: 12px;
  padding: 5px;
  width: 150px;
  height: 40px;
  font-weight: 600;
}

.btn1 {
  background-color: rgba(13, 13, 197, 0.8);
  color: #fff;
  border: 2px solid white;
}

.btn2 {
  background-color: #fff;
  color: rgba(13, 13, 197, 0.8);
  border: 2px solid rgba(13, 13, 197, 0.8);
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.container1 {
  /* border: 1px solid #ccc; */
  padding: 16px 30px 16px 16px;
  border-radius: 8px;
  width: auto; /* Prend toute la largeur */
}


.btnOffre{
  color: white;
  background-color: rgba(13, 13, 197, 0.8);
  border: 0.5px solid white;
  height: 40px;
  border-radius: 5px;
  /* text-align: right; */
}

.ajoutInfo{
  background-color: rgba(13, 13, 197, 0.8);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.vertical-line {
  width: 1px; /* Épaisseur de la ligne */
  background-color: #ccc; /* Couleur de la ligne */
  height: 100px; /* Hauteur de la ligne */
  /* Positionne la ligne selon le besoin */
}


.step-header {
  display: flex;
  align-items: center;
}

.subtitle {
  color: gray;
  margin-top: 5px;
}

.content {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.content img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  /* margin-right: 15px; */
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.details div {
  text-align: center;
}

.horizontal-line {
  border-left: 1px solid #ccc; /* Ligne verticale gauche */
  height: 100%; /* Prend toute la hauteur */
  position: absolute; /* Pour positionner par rapport au conteneur */
  left: 0; /* Aligner à gauche */
  top: 0; /* Commencer en haut */
  bottom: 0; /* Étendre jusqu'en bas */
}

.horizontal-line::after {
  content: '';
  border-right: 1px solid #ccc; /* Ligne verticale droite */
  height: 100%; /* Prend toute la hauteur */
  position: absolute;
  right: 0; /* Aligner à droite */
  top: 0; /* Commencer en haut */
  bottom: 0; /* Étendre jusqu'en bas */
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  justify-content: right;
}

.top-right-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.top-right-actions a {
  margin-left: 20px;
  color: rgba(13, 13, 197, 0.8);
  text-decoration: none;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 90%;
    margin: 10px;
  }
}