<body>
  <div class="tab-container">
    <mat-tab-group (selectedTabChange)="onTabChange($event)" [selectedIndex]="activeTabIndex">
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="circle-container">
            <div class="circle" [ngClass]="{'active': activeTabIndex >= 0}">1</div>
            <div class="circle-title">Localisation</div>
          </div>
        </ng-template>
        <app-form-info-generales></app-form-info-generales> 
      </mat-tab>

      <mat-tab> 
        <ng-template mat-tab-label>
          <div class="circle-container">
            <div class="circle" [ngClass]="{'active': activeTabIndex >= 1}">2</div>
            <div class="circle-title">nom de la structure</div>
          </div>
        </ng-template>
        <app-type-etablissement></app-type-etablissement>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="circle-container">
            <div class="circle" [ngClass]="{'active': activeTabIndex >= 2}">3</div>
            <div class="circle-title">Commodités</div>
          </div>
        </ng-template>
        <app-commodites></app-commodites>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="circle-container">
            <div class="circle" [ngClass]="{'active': activeTabIndex >= 3}">4</div>
            <div class="circle-title">Petit-dejeuner</div>
          </div>
        </ng-template>
        <app-petit-dejeuner></app-petit-dejeuner>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="circle-container">
            <div class="circle" [ngClass]="{'active': activeTabIndex >= 4}">5</div>
            <div class="circle-title">Parking</div>
          </div>
        </ng-template>
        <app-parking></app-parking>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="circle-container">
            <div class="circle" [ngClass]="{'active': activeTabIndex >= 5}">6</div>
            <div class="circle-title">Langues</div>
          </div>
        </ng-template>
        <app-langues></app-langues>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="circle-container">
            <div class="circle" [ngClass]="{'active': activeTabIndex >= 6}">7</div>
            <div class="circle-title">Politique de l'etablissement</div>
          </div>
        </ng-template>
        <app-politique></app-politique>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="circle-container">
            <div class="circle" [ngClass]="{'active': activeTabIndex >= 7}">8</div>
            <div class="circle-title">Progression</div>
          </div>
        </ng-template>
        <app-etape-enregistrement></app-etape-enregistrement>
      </mat-tab>
    </mat-tab-group>
    <div class="tab-navigation tab-navigation-buttons" *ngIf="activeTabIndex < 7" 
     [ngClass]="{
       'style0': activeTabIndex === 0,
       'style1': activeTabIndex === 1,
       'style3': activeTabIndex === 3,
       'style4': activeTabIndex === 4,
       'style5': activeTabIndex === 5,
       'style2': activeTabIndex === 2,
       'style6': activeTabIndex === 6,
     }">
  <button *ngIf="activeTabIndex > 0" (click)="previousTab()" class="btn-precedent">
    <span class="chevron">&#9664;</span> Précédent
  </button>
  <button (click)="nextTab()" class="btn-suivant">
    prochaine étape <span class="chevron">&#9654;</span>
  </button>
</div>
</div>
</body>
