<div class="container">
  <h3>Boite e-mail yori.com</h3>
  <div>
    <label>Discuter</label><br>
    <button class="send-message" (click)="sendNewMessage()">
      <span>Envoyer un message</span>
      <mat-icon>send</mat-icon>
    </button>
  </div>
  <div>
    <mat-tab-group class="fixed-width">
      <mat-tab label="Tous les messages ({{ receivedMessages.length }})">
        <div *ngFor="let message of receivedMessages">
          <div (click)="selectMessage(message)" class="message-preview">
            <div class="message-content">
                <strong>{{ message.subject }}</strong> - {{ message.content | slice:0:50 }}...
            </div>
            <span class="message-date">{{ message.date | date:'dd MMMM yyyy à HH:mm' }}</span>
        </div>
  
            <!-- Affiche les détails du message si celui-ci est sélectionné -->
            <div *ngIf="selectedMessage === message" class="message-details">
                <div class="message-text">
                  <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex;">
                      <div>
                        <img src="assets/img/logo_bleu.png" alt="logo" width="70" height="50">
                      </div>
                      <div style="margin-top: -10px;">
                        <p>Yori.com <br> {{ selectedMessage.date | date:'dd MMMM yyyy à HH:mm' }}</p> <!-- Affiche la date -->
                      </div>
                    </div>
                    <div>
                      <button (click)="openReplyPopup()" class="btn btn-send">
                        <mat-icon>reply</mat-icon>
                        <span>Répondre à ce message</span>
                      </button>
                    </div>
                  </div>
                  <p><strong>Objet :</strong> {{ selectedMessage.subject }}</p>
                  <p>{{ selectedMessage.content }}</p>
              </div>
                </div>
        </div>
  
        <!-- Overlay pour le pop-up -->
        <div *ngIf="isReplying" class="overlay" (click)="closeReplyPopup()"></div>
  
        <!-- Pop-up de réponse -->
        <div *ngIf="isReplying" class="reply-popup">
            <div class="reply-title">
              <p>Réponse du message</p>
              <button (click)="closeReplyPopup()" class="btn btn-cancel">X</button>
            </div>
            <div class="reply-section">
                <!-- <label for="subject">Objet :</label> -->
                <input type="text" id="subject" [(ngModel)]="replySubject" placeholder="Objectif" class="reply-input" />
                <!-- <label for="body">Corps du message :</label> -->
                <textarea id="body" [(ngModel)]="replyBody" placeholder="Écrivez votre réponse ici" class="reply-textarea"></textarea>
            </div>
            <div class="reply-buttons">
              <button class="send-message" (click)="fileInput.click()"> <mat-icon>attach_file</mat-icon> </button>
              <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
              <button (click)="submitReply()" class="btn btn-send2">Envoyer</button>
            </div>
        </div>
  
  
    </mat-tab>
      <mat-tab label="Envoyés">
        <div *ngFor="let sentMessage of sentMessages">
          <div (click)="selectMessage(sentMessage)" class="message-preview">
              <strong>{{ sentMessage.subject }}</strong> <!-- Affiche l'objet du message -->
              <span class="message-date">{{ sentMessage.date | date:'dd MMMM yyyy à HH:mm' }}</span>
          </div>
  
          <!-- Affiche les détails du message si celui-ci est sélectionné -->
          <div *ngIf="selectedMessage === sentMessage" class="message-details">
            <h2>Détails du message</h2>
            <p><strong>Objet :</strong> {{ selectedMessage.subject }}</p>
            <p><strong>Corps :</strong> {{ selectedMessage.content }}</p>
            <p *ngIf="selectedMessage.file"><strong>Joint :</strong> 
                {{ selectedMessage.file.name }} 
                <a [href]="getFileUrl(selectedMessage.file)" target="_blank">Télécharger</a>
            
                <!-- Affichage d'une prévisualisation si c'est une image -->
                <span *ngIf="isImage(selectedMessage.file)">
                    <img [src]="getFileUrl(selectedMessage.file)" alt="Prévisualisation" style="max-width: 200px; max-height: 200px;" />
                </span>
            </p>    
            <p><strong>Date :</strong> {{ selectedMessage.date | date:'dd MMMM yyyy à HH:mm' }}</p> <!-- Affiche la date -->
            <button (click)="selectMessage(selectedMessage)">Fermer</button>
        </div>
        
        </div>
      </mat-tab>
      <mat-tab label="Suivis"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>


   <!-- Overlay pour le pop-up -->
   <div *ngIf="newMessage" class="overlay" (click)="closeReplyPopup()"></div>

   <!-- Pop-up du nouveau message -->
   <div *ngIf="newMessage" class="reply-popup">
    <div class="reply-title">
        <p>Nouveau Message</p>
        <button (click)="closeReplyPopup()" class="btn btn-cancel">X</button>
      </div>
      <div class="reply-section">
          <!-- <label for="subject">Objet :</label> -->
          <input type="text" id="subject" [(ngModel)]="replySubject" placeholder="Objectif" class="reply-input" />
          <!-- <label for="body">Corps du message :</label> -->
          <textarea id="body" [(ngModel)]="replyBody" placeholder="Écrivez votre réponse ici" class="reply-textarea"></textarea>
      </div>
      <div class="reply-buttons">
        <button class="send-message" (click)="fileInput.click()"> <mat-icon>attach_file</mat-icon> </button>
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
        <button (click)="submitReply()" class="btn btn-send2">Envoyer</button>
      </div>
   </div>


   <!-- Overlay pour le pop-up -->
   <div *ngIf="messageSent" class="overlay" (click)="closeReplyPopup()"></div>

   <!-- Pop-up du nouveau message -->
   <div *ngIf="messageSent" class="reply-popup2">
       <div class="reply-title2">
         <button (click)="closeReplyPopup()" class="btn btn-cancel2">X</button>
       </div>
       <div class="reply-section">
         <div>
           <mat-icon style="padding: 10px;border: 0.5px solid #77B5FE; border-radius: 50%; color: #77B5FE;">check_small</mat-icon>
         </div>
          <p>Nous avons bien reçu votre message.</p>
          <p>Merci de nous avoir contactés ! Nous vous répondrons généralement sous un délai <strong>1 jour</strong></p>
       </div>
   </div>
</div>