<div class="container">
  <h3>Informations du compte propiètaire</h3>
  <p>
    <span class="gras">Nom :</span>
    {{ data.nom }}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="gras">Prenom:</span>{{ data.prenom }}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="gras">Numero de téléphone :</span>
    {{ data.telephone }}
  </p>
  <p>
    <span class="gras">Adresse e-mail: </span>
    {{ data.email }}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="gras">Nombre d'établissemnts inscrits : </span>
    {{ data.nombreEtablissement }}
  </p>
  <br />
  <h3>Informations de l'établissement</h3>
  <p>
    <span class="gras">Pays/region :</span>
    {{ data.pays }}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="gras">Ville :</span>{{ data.ville }}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="gras">Nom de établissement :</span>
    {{ data.nomEtablissement }}
  </p>
  <p>
    <span class="gras">Service :</span>
    {{ data.service }}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="gras">Type de proprièté :</span>{{ data.typePropriete }}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="gras">Adresse :</span>
    {{ data.adresse }}
  </p>
  <br />
  <h2>Photos</h2>
  <div
    *ngIf="data.photos && data.photos.length > 0; else noPhotos"
    class="photo-grid"
  >
    <ng-container *ngFor="let photo of data.photos.slice(0, 7); let i = index">
      <div class="photo-item">
        <img
          [src]="photo.url"
          [alt]="photo.alt || 'Photo de l\'établissement'"
        />
      </div>
    </ng-container>

    <!-- Badge pour la dernière photo si plus de 8 photos -->
    <div *ngIf="data.photos.length > 8" class="photo-item last-photo">
      <img
        [src]="data.photos[7].url"
        [alt]="data.photos[7].alt || 'Photo de l\'établissement'"
      />
      <div class="overlay">+{{ data.photos.length - 8 }}</div>
    </div>
  </div>

  <ng-template #noPhotos>
    <p>Aucune photo disponible.</p>
  </ng-template>

  <div class="popup-actions">
    <!-- Vérifiez si l'établissement est en attente ou en attente d'examen -->
    <ng-container
      *ngIf="
        data.examStatus === 'waiting' || data.examStatus === 'pending';
        else statusDisplay
      "
    >
      <button
        mat-button
        (click)="approve()"
        class="btn-notif"
        id="btn-approuve"
      >
        Approuver
      </button>
      <button mat-button (click)="decline()" class="btn-notif" id="btn-decline">
        Décliner
      </button>
    </ng-container>

    <!-- Template alternatif pour afficher le statut uniquement s'il est approuvé ou décliné -->
    <ng-template #statusDisplay>
      <div
        *ngIf="data.examStatus === 'approved' || data.examStatus === 'declined'"
      >
        <p>
          <span
            [ngClass]="{
              approved: data.examStatus === 'approved',
              declined: data.examStatus === 'declined'
            }"
          >
            {{ data.examStatus === "approved" ? "Approuvé" : "Décliné" }}
          </span>
        </p>
      </div>
    </ng-template>
  </div>
</div>
