
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: initial;
  padding: 20px 0 10px 0;
  width: 100%;
  border-radius: 10px;
}

.custom-icon {
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}


.main-card {
  flex: 1 1 582px;
  height: 765px;
  background-color: white;
  max-width: 800px;
  border-radius: 10px;
  padding: 20px 10px;

}


.card-header, .card-content {
  margin-bottom: 15px;
}

.sub-card-container {
  flex: 1 1 360px;
}


.sub-card {
  flex:1 1 40%;
  border-radius: 10px;
  background-color: white;
}

#haut, #bas {
  padding: 10px;
  margin-bottom: 20px;
}

.full-width {
  width: 100%; 
  margin-bottom: 15px;
}

label {
  display: flex;
  flex-direction: column;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.map-container {
  height: 200px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red{
  color: red;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
    width: 95%;
  }

  .main-card, .sub-card-container {
    width: auto;
  }

  .sub-card {
    position: static;
    margin-bottom: 10px;
  }
}
