.container {
    display: flex; 
    justify-content: center;
    margin: 25px 25px 10px 0;
    width: 60%;
    max-width: 775px;
    border-radius: 10px;
    background-color: white;
  } 
   
  .main-card {
    padding-left: 20px;
    flex: 1 1 100%; /* S'assure que la carte utilise toute la largeur disponible */
    background-color: initial;
  }
  
#remboursable{
  margin: 15px 0 10px 10px;
  width: 300px;
  border-radius: 8px;
  height: 30px;
  border: 1px solid rgb(21, 21, 21);
}

.espace{
  margin-left: 10px;
}

label {
    margin-left: 10px;
  }

  

.cont {
    display: flex;
    gap: 10px;
    height: auto;
    justify-content: left;
}


.box {
    border-radius: 15px; 
    padding: 10px; 
    background-color: initial; 
    flex: 1; 
}


.input-container {
    display: inline-block;
    margin-right: 10px;
    
}



.box {
    border-radius: 15px;
    padding: 10px; 
    background-color: initial; 
    flex: 1; 
    height: 30px; 
    overflow: hidden; 
    display: flex; 
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(94, 94, 94);
}



.custom-input {
    border: 1px solid #ccc; 
    border-radius: 10px;
    padding: 5px; 
    width: 200px; 
    height: auto; 
    min-height: 40px; 
    box-sizing: border-box; 
    overflow-wrap: break-word; 
    white-space: pre-wrap; 
    outline: none; 
    margin: 10px 0;
}

.custom-input.readonly {
    background-color: #f0f0f0; 
    pointer-events: none; 
}

.btn-ajout{
    background-color: initial;
    color: #77B5FE;
    border: none;
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
}

  
@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 10px; /* Réduction du padding sur petits écrans */
  }

  .main-card, .full-width {
    width: auto; 
  }

}