.container {
  display: flex;
  flex-direction: column; /* Empile les cartes */
  align-items: center; /* Centre les cartes */
  margin: 20px 20px 0px 0;
  width: 50%;
}

.main-card, .sub-card {
  flex: 1 1 100%; /* Prend toute la largeur */
  margin-bottom: 0px; /* Espace entre les cartes */
  background-color: white;
}

.example-form {
  min-width: 150px;
  max-width: 100%; /* Prendre toute la largeur */
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#phone, #full-name, #first-name, #email {
  height: 30px;
  width: 100%; /* Prendre toute la largeur */
  margin: 10px 0;
}

.form-field {
  margin: 20px 0;
}


.card-item {
  display: flex;
  align-items: center; /* Aligne verticalement l'image et le texte */
  margin-bottom: 10px; /* Ajoute de l'espace entre les éléments */
}

.card-item img {
  margin-right: 10px; /* Ajoute de l'espace entre l'image et le texte */
  width: 40px; /* Ajustez la taille de l'image si nécessaire */
  height: auto; /* Maintient le ratio de l'image */
}

.red{
  color: red;
}


@media (max-width: 768px) {
  /* Réduction de la taille du texte */
  .main-card p, .main-card h3 {
    font-size: 0.9em; /* Réduire la taille du texte */
  }

  .joue {
    margin-left: 0; /* Ajuste le margin pour la responsivité */
  }
}
