<div class="container">
  <div class="first" *ngIf="!showDetails">
    <div>
      <h2>Factures</h2>
      <div class="filtre">
        <div class="inputs">
          <div class="labels">
            <label for="statut">Aperçu</label><br />
            <select
              id="statut"
              class="select1"
              [(ngModel)]="selectedStatut"
              (change)="onStatutChange()"
            >
              <option *ngFor="let statut of statutsFiltres" [value]="statut">
                {{ statut }}
              </option>
            </select>
            <br />

            <select
              id="sousStatut"
              *ngIf="selectedStatut !== 'Vue d\'ensemble'"
              [(ngModel)]="selectedSousStatut"
            >
              <option
                *ngFor="let sousStatut of sousStatuts[selectedStatut]"
                [value]="sousStatut"
              >
                {{ sousStatut }}
              </option>
              <option *ngIf="!sousStatuts[selectedStatut]?.length" disabled>
                Sélectionnez d'abord un statut
              </option>
            </select>
          </div>
          <div class="labels">
            <label for="pays">Région</label><br />
            <select
              id="pays"
              class="select1"
              [(ngModel)]="selectedPays"
              (change)="onCountryChange()"
            >
              <option *ngFor="let pays of paysFiltres" [value]="pays">
                {{ pays }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <mat-tab-group class="fixed-width" id="menu-comptes">
      <!-- Onglet "Payé" -->
      <mat-tab label="Payé ({{ getTotalPaid() }})">
        <div class="table-responsive">
          <table class="table" id="table-payé">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Pays</th>
                <th>Statut</th>
                <th>Date limite</th>
                <th>Commission</th>
                <th>Commission Payée</th>
                <th>Reste à Payer</th>
                <th>Plus d'infos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let facture of getPaginatedFactures(paidFactures)">
                <td style="color: #77b5fe">{{ facture.nom }}</td>
                <td>{{ facture.pays }}</td>
                <td>{{ facture.statut }}</td>
                <td>{{ facture.dateLimite }}</td>
                <td>{{ facture.commission }} Fcfa</td>
                <td>{{ facture.commissionPayee }} Fcfa</td>

                <td
                  [ngStyle]="{
                    color: facture.resteAPayer !== 0 ? 'red' : 'black'
                  }"
                >
                  <b>{{ facture.resteAPayer }} Fcfa</b>
                </td>
                <td>
                  <a class="open-div2" (click)="afficherDetails(facture)"
                    >voir plus</a
                  >
                </td>
              </tr>
              <tr>
                <td colspan="10" class="td-pag">
                  <div>
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage - 1)"
                      [disabled]="currentPage === 1"
                    >
                      &lt; Précédent
                    </button>
                    |
                    <span>Page {{ currentPage }} sur {{ totalPages }}</span>
                    |
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage + 1)"
                      [disabled]="currentPage === totalPages"
                    >
                      Suivant &gt;
                    </button>
                    <select
                      id="itemsPerPage"
                      (change)="onItemsPerPageChange($event)"
                    >
                      <option
                        *ngFor="let option of itemsPerPageOptions"
                        [value]="option"
                      >
                        Afficher {{ option }} réservations
                      </option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="totalPaye">
          <p class="totalPayeText">
            Commision payée : {{ getTotalCommissionPaid() | number }} F cfa
          </p>
        </div>
      </mat-tab>

      <!-- Onglet "Impayé" -->
      <mat-tab label="Impayé ({{ getTotalUnpaid() }})">
        <div class="table-responsive">
          <table class="table" id="table-impayé">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Pays</th>
                <th>Statut</th>
                <th>Date limite</th>
                <th>Commission</th>
                <th>Commission Payée</th>
                <th>Reste à Payer</th>
                <th>Plus d'infos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let facture of getPaginatedFactures(unpaidFactures)">
                <td style="color: #77b5fe">{{ facture.nom }}</td>
                <td>{{ facture.pays }}</td>
                <td>{{ facture.statut }}</td>
                <td>{{ facture.dateLimite }}</td>
                <td>{{ facture.commission }} Fcfa</td>
                <td>{{ facture.commissionPayee }} Fcfa</td>
                <td
                  [ngStyle]="{
                    color: facture.resteAPayer !== 0 ? 'red' : 'black'
                  }"
                >
                  <b>{{ facture.resteAPayer }} Fcfa</b>
                </td>
                <td>
                  <a class="open-div2" (click)="afficherDetails(facture)"
                    >voir plus</a
                  >
                </td>
              </tr>
              <tr>
                <td colspan="10" class="td-pag">
                  <div>
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage - 1)"
                      [disabled]="currentPage === 1"
                    >
                      &lt; Précédent
                    </button>
                    |
                    <span>Page {{ currentPage }} sur {{ totalPages }}</span>
                    |
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage + 1)"
                      [disabled]="currentPage === totalPages"
                    >
                      Suivant &gt;
                    </button>
                    <select
                      id="itemsPerPage"
                      (change)="onItemsPerPageChange($event)"
                    >
                      <option
                        *ngFor="let option of itemsPerPageOptions"
                        [value]="option"
                      >
                        Afficher {{ option }} réservations
                      </option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="totalPayeText">
          Commision impayée :
          <span class="rouge"
            >{{ getTotalCommissionUnPaid() | number }} F cfa</span
          >
        </div>
      </mat-tab>

      <!-- Onglet "Indisponible" -->
      <mat-tab label="Indisponible ({{ getTotalUnavailable() }})">
        <div class="table-responsive">
          <table class="table" id="table-indisponible">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Pays</th>
                <th>Statut</th>
                <th>Date limite</th>
                <th>Commission</th>
                <th>Commission Payée</th>
                <th>Reste à Payer</th>
                <th>Plus d'infos</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let facture of getPaginatedFactures(unavailableFactures)
                "
              >
                <td style="color: #77b5fe">{{ facture.nom }}</td>
                <td>{{ facture.pays }}</td>
                <td>{{ facture.statut }}</td>
                <td>{{ facture.dateLimite }}</td>
                <td>{{ facture.commission }} Fcfa</td>
                <td>{{ facture.commissionPayee }} Fcfa</td>

                <td
                  [ngStyle]="{
                    color: facture.resteAPayer !== 0 ? 'red' : 'black'
                  }"
                >
                  <b>{{ facture.resteAPayer }} Fcfa</b>
                </td>
                <td>
                  <a class="open-div2" (click)="afficherDetails(facture)"
                    >voir plus</a
                  >
                </td>
              </tr>
              <tr>
                <td colspan="10" class="td-pag">
                  <div>
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage - 1)"
                      [disabled]="currentPage === 1"
                    >
                      &lt; Précédent
                    </button>
                    |
                    <span>Page {{ currentPage }} sur {{ totalPages }}</span>
                    |
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage + 1)"
                      [disabled]="currentPage === totalPages"
                    >
                      Suivant &gt;
                    </button>
                    <select
                      id="itemsPerPage"
                      (change)="onItemsPerPageChange($event)"
                    >
                      <option
                        *ngFor="let option of itemsPerPageOptions"
                        [value]="option"
                      >
                        Afficher {{ option }} réservations
                      </option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="totalPaye">
          <p class="totalPayeText">
            Commision indisponible:
            <span class="rouge"
              >{{ getTotalCommissionUnavailable() | number }} F cfa</span
            >
          </p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="details" *ngIf="showDetails">
    <h2>{{ selectedFactureName }}</h2>
    <button class="revenir" (click)="revenir()">
      Revenir à la synthèse des comptes propriétaires
    </button>
    <div class="container_facture">
      <h2>Aperçu des factures</h2>
      <div class="ligne"></div>

      <div class="factures_payes">
        <br />
        <div class="entete1">
          <h2>Factures payées ({{ getTotalPaid() }})</h2>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;le 14 avr. 2024
        </div>

        <div class="contenu_facture" *ngFor="let facture of paidFactures">
          <div>{{ facture.dateLimite }}</div>
          <div>{{ facture.id }}</div>
          <div>{{ facture.commissionPayee }}</div>
        </div>
        <br /><br />
        <div class="payement">
          <p>Paiement par :</p>
          <p>Montant payé: {{ getTotalCommissionPaid() | number }} Fcfa</p>
        </div>
      </div>
      <br />
      <div class="factures_impayes">
        <div>
          <h2>Factures impayées ({{ getTotalUnpaid() }})</h2>
        </div>
        <div class="contenu_facture" *ngFor="let facture of unpaidFactures">
          <div style="color: red">{{ facture.dateLimite }}</div>
          <div>{{ facture.id }}</div>
          <div>{{ facture.resteAPayer }}</div>
        </div>
        <div class="aPayer">
          <p>
            Montant à payer:
            <span style="color: red"
              >{{ getTotalCommissionUnPaid() | number }} Fcfa</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
