<div class="container">
    <div class="card">
        <form action="" class="form">
            <div class="div-top">
                <h2>Problèmes de vérification <br>
                    connecter ?</h2>
                <p class="para">
                    Sélectionnez la raison pour laquelle vous n'avez pas pu <br>
                    terminer la procédure de vérification :
                </p>
            </div>
           <div class="link">
            <a [routerLink]="['/']">Le numéro de téléphone est correct mais je n'ai pas <br> reçu d'appel/de SMS</a><mat-icon class="icons">chevron_right</mat-icon>
           </div>
           <div class="hr">
                <hr>
            </div>
           <div class="link">
            <a [routerLink]="['/']">Le numéro de téléphone est correct mais personne <br>
                n'y a accès</a><mat-icon class="icons">chevron_right</mat-icon>
           </div>
           <div class="hr">
            <hr>
            </div>
           <div class="link">
            <a [routerLink]="['/']">Le numéro de téléphone est correct mais une autre <br>
                personne y a accès</a><mat-icon class="icons">chevron_right</mat-icon>
           </div>
           <div class="hr">
            <hr>
            </div>
           <div class="link">
            <a [routerLink]="['/']">Le numéro de téléphone est incorrect mais je <br>
                ne peux pas le mettre à jour car je n'arrive pas à me
                connecter</a><mat-icon class="icons">chevron_right</mat-icon>
           </div>
           <div class="hr">
                <hr>
            </div>
        </form>
        </div>
</div> 