<div class="container">
    <div class="card">
        <form action="" class="form">
            <h2>
                Contactez le Service Clients
            </h2>
            <p>
                Appelez votre Service Clients local au numéro indiqué <a href="">ici</a> <br>
                et donnez-leur le code confidentiel qui s'affiche sur <br>
                l'écran. Un agent vous transmettra alors un nouveau code <br>
                de vérification que vous devrez saisir ci-dessous.
            </p>
            <div class="div-para">
                <p>Fournir à Yori.com ce code confidentiel:</p>
                <p><b>109911</b></p>
            </div>
            <div>
                <label for="tel">Code de vérification</label><br>
                <input type="tel" name="tel" id="tel" class="passe"><br>
                <button class="button bouton-unique1" type="button">Vérifier maintenant</button><br>
                <div class="div-link">
                    <a href="">Renvoyer le code</a>
                </div>
            </div>
        </form>
        <div class="hr">
            <hr>
        </div>
        </div>
</div>  