.gallery-container {
  padding: 20px;
}

.section{
  background-color: white;
  padding: 10px 0 0 40px;
}

.controls {
  margin: 0 0 20px 20px;
  width: 550px;
}


.photo{
  width: 100px;
  height: 100px;
  font-size: 15px;
}

.cadre{
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: white;
  border: 5px dashed   black;
  padding: 20px;
}


.all-btn{
  padding-top: 20px;
}


.add-photo-btn {
  background-color: white;
  color: #77B5FE;
  padding: 5px 5px;
  font-size: 15px;
  cursor: pointer;
  border: 0.2px solid #77B5FE;
  margin: 0;
}


.btn-add{
  padding-top: 20px;
  width: 230px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  border-radius: 8px;
  border: 0.2px solid rgb(212, 212, 212);
}


.btn-add button{
  cursor: pointer;
  font-weight: 200;
  border: none;
  color: #77B5FE;
  background-color: initial;
}

.btn-add mat-icon{
  cursor: pointer;
  color: #77B5FE;
}

input[type="file"] {
  margin-top: 10px;
}


.entête {
  padding: 5px;
  background-color: white;
  justify-content: left;
  text-align: left;
  margin-top: -20px;
  margin-bottom: -25px;
}

.entête p{
  color: white;
  display: inline-block;
  background-color: #77B5FE;
  margin: 10px 0 0 50px;
  padding: 5px 10px;
}

.image-gallery {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 16px;
  width: 600px;
}


.image-item {
  position: relative;
  display: inline-block;
}

.image-item input[type="checkbox"] {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
}

.image {
  width: 50px;
  height: 120px;
  object-fit: cover;
  transition: transform 0.2s;
}

/* .image:hover {
  transform: scale(1.1);
} */

.image-item label {
  cursor: pointer;
}


.image-item img {
  width: 250px;
  height: 180px;  /* Garde les proportions de l'image */
  object-fit: cover; /* Assure que l'image couvre la cellule sans déformation */
}

/* .image-item:hover img {
  transform: scale(1.05);
} */


.delete-icon {
  position: absolute;
  background-color: white; /* Fond blanc */
  border-radius: 50%; /* Cercle */
  color: black; /* Couleur de la croix */
  padding: 5px; /* Espacement autour de la croix */
  cursor: pointer; /* Curseur pointer pour indiquer que c'est cliquable */
}

.delete-icon:hover {
  background-color: #f0f0f0; /* Changez le fond au survol pour un effet visuel */
}


@media (max-width: 768px) {
  .section{
    padding: 0;
  }

  .cadre{
    margin: 0;
    padding: 0;
  }

  .controls{
    width: auto;
    margin: 0;
  }

  .image-gallery{
    width: auto;
  }
}
