<div class="container">
  <div class="gallery-container">
    <section class="section">
      <div class="controls">
        <h3>Ajoutez les photos représentant cette catégorie</h3>
        <label >Téléchargez au moins 6 photos pour représnter cette catégorie</label>
        <div class="cadre">
          <img src="assets/img/photo.png" alt="photo drapeau" class="photo">
        <div class="one-btn">
          <p>faire glisser ou</p>
          <button (click)="triggerFileInputSecondary()" class="add-photo-btn">
            <mat-icon>image</mat-icon>Ajouter les photos
          </button>
          <input #fileInputSecondary type="file" accept="image/*" (change)="addImageSecondary($event)" style="display: none;" />
          <p>pgj/Jpeg ou png 47 MB maximun par fichier.</p>
        </div>
        </div>
        <!-- <hr> -->
      </div>
      <!-- <div class="entête">
      </div> -->
      <div class="image-gallery">
        <div *ngFor="let image of imagesSecondary; let i = index" class="image-item">
          <label for="image-sec-{{i}}">
            <img [src]="image" alt="Image {{i + 1}}" class="image" />
            <span class="delete-icon" (click)="removeImage(i)">✖</span>
          </label>
        </div>
      </div>
    </section>
  </div>
</div>
