<div class="container">
    <div class="card">
        <form action="" class="form">
            <h2>Veuillez confirmer votre identité</h2>
            <p>Sélectionnez une méthode de vérification pour continuer.</p>
           <div class="link">
            <a [routerLink]="['/mot-de-passe-oublier']"><mat-icon class="icons">message</mat-icon>via SMS</a>
           </div>
           <div class="hr">
                <hr>
            </div>
           <div class="link">
            <a [routerLink]="['/contacter-equipe']"><mat-icon class="icons">person_pin</mat-icon>Vous ne pouvez pas efectuer la vérification ?</a>
           </div>
           <div class="hr">
                <hr>
            </div>
           
        </form>
        </div>
</div> 