<style>
  .popup {
      position: fixed;
      width: 100%;
      justify-content: center;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #77B5FEBA;
      border: 1px solid #ccc;
      padding: 20px;
      z-index: 1000; /* Assurez-vous que le pop-up soit au-dessus des autres éléments */
  }

  .popup button{
    background-color: #4099FF;
    color: white;
    padding: 10px;
    border: none;
  }
  </style>

  <div class="container">
    <div>
      <h3>Equipements et services</h3>
      <p>Répertoriez et mettez à jour vos équipements dans cette section. Cela peut inciter les clients à réserver chez vous !</p>
    </div>
    <form [formGroup]="form">
      <section>
        <input
            type="search"
            id="search"
            placeholder="Rechercher un équipement ou un service..."
            (input)="onSearchChange($event)"
            [value]="searchTerm"
        />
        <h1>Quels équipements proposez-vous dans votre structure ?</h1>
        <div *ngFor="let list of filteredLists">
            <input type="checkbox" [formControlName]="'list' + list.id" (change)="onCheckboxChange3($event)" />
            {{ list.label }}
        </div>
    </section>



    <!-- Pop-up -->
    <div *ngIf="showPopup" class="popup">
      <!-- <p>Vous avez fait un changement. Soumettez votre choix.</p> -->
      <button (click)="submitForm()">Sauvergarder</button>
      <!-- <button (click)="showPopup = false">Annuler</button> -->
  </div>

      <section>
        <div>
          <h3>Information petit dejeuner</h3>
          <p>Le petit-déjeuner est-il servi dans votre hébergement ?</p>
          <label>
            <input type="radio" formControlName="breakfast" value="oui" (change)="onRadioChange($event)" />
            Oui
          </label><br>
          <label>
            <input type="radio" formControlName="breakfast" value="non" (change)="onRadioChange($event)" />
            Non
          </label><br>
          <label for="">Le petit-déjeuner est-il inclus dans le tarif payé par les clients ?</label>
          <label><br>
            <input type="radio" formControlName="breakfastIncluded" value="oui_inclu" />
            Oui, il est inclus.
          </label><br>
          <label>
            <input type="radio" formControlName="breakfastIncluded" value="non_suplement" />
            Non, il est en supplément.
          </label>
        </div>
        <hr>
        <div class="menu-option">
          <div *ngFor="let option of menuOptions">
            <button type="button"
                    [class.selected]="isSelected(option)"
                    (click)="toggleOption(option)">
              {{ option }}
            </button>
          </div>
        </div>
      </section>

      <section >
        <h3>Parlez-nous des options de stationnement pour votre structure</h3>
          <div>
            <p>Les clients ont-ils accès à un parking ?</p>
            <label>
              <input type="radio" formControlName="parkingValide" value="oui_gratuitement" />
              Oui, gratuitement
            </label><br>
            <label>
              <input type="radio" formControlName="parkingValide" value="oui_suplement" />
              Oui, moyennant un supplément
            </label><br>
            <label>
              <input type="radio" formControlName="parkingValide" value="non" />
              Non
            </label>
          </div>
        <hr>
        <div>
          <p>Combien coûte le parking ?</p>
          <input type="number" formControlName="parkingCost" placeholder="CFA">
          <select formControlName="parkingDuration">
            <option value="">par heure</option>
            <option value="">par jour</option>
            <option value="">par semaine</option>
          </select>
        </div>

        <div>
          <p>Est-il nécessaire de réserver une place de parking ?</p>
          <label>
            <input type="radio" formControlName="reservationNeeded" value="Reservation_necessaire" />
            Réservation nécessaire
          </label><br>
          <label>
            <input type="radio" formControlName="reservationNeeded" value="Sans_reservation" />
            Sans réservation
          </label>
        </div>

        <div>
          <p>Où se situe le parking ?</p>
          <label>
            <input type="radio" formControlName="parkingLocation" value="Sur_place" />
            Sur place
          </label><br>
          <label>
            <input type="radio" formControlName="parkingLocation" value="A_proximite" />
            À proximité
          </label>
        </div>

        <div>
          <p>De quel type de parking s'agit-il ?</p>
          <label>
            <input type="radio" formControlName="parkingType" value="Prive" />
            Privé
          </label><br>
          <label>
            <input type="radio" formControlName="parkingType" value="Public" />
            Public
          </label>
        </div>
      </section>

      <section>
        <h3>Quelles langues parlez-vous (vous ou votre personnel) ?</h3>
        <label for="">Sélectionnez les langues</label>
        <div *ngFor="let moa of moas">
          <input type="checkbox" [formControlName]="'moa' + moa.id" />
          {{ moa.label }}
        </div>
      </section>

      <section>
        <h3>Politique de l'établissement</h3>

        <!-- Politique d'annulation -->
        <div class="oui-non-section">
          <p>Politique d'annulation</p>

          <label>
            <input type="radio" formControlName="cancellationPolicy" value="oui" />
            Remboursable
          </label>

          <!-- Div masquée qui apparaît quand "Oui" est sélectionné -->
          <div *ngIf="form.get('cancellationPolicy')?.value === 'oui'" class="conditional-div">
            <h4>Écrivez une condition du remboursement</h4>
            <input type="text" formControlName="cancellationCondition" placeholder="Condition de remboursement" />
          </div>

          <label>
            <input type="radio" formControlName="cancellationPolicy" value="non" />
            Non remboursable
          </label>

          <!-- Heures d'arrivée -->
          <div class="time-section">
            <label for="">Quels sont vos horaires d'arrivée et de départ ?</label>
            <p>Arrivée</p>
            <div class="time-inputs">
              <div>
                <label for="arrivee-debut">De :</label>
                <input type="time" id="arrivee-debut" formControlName="arrivalStart" />
              </div>
              <div>
                <label for="arrivee-fin">À :</label>
                <input type="time" id="arrivee-fin" formControlName="arrivalEnd" />
              </div>
            </div>
          </div>

          <!-- Heures de départ -->
          <div class="time-section">
            <p>Départ</p>
            <div class="time-inputs">
              <div>
                <label for="depart-debut">De :</label>
                <input type="time" id="depart-debut" formControlName="departureStart" />
              </div>
              <div>
                <label for="depart-fin">À :</label>
                <input type="time" id="depart-fin" formControlName="departureEnd" />
              </div>
            </div>
          </div>
        </div>

        <hr>

        <!-- Acceptez-vous les enfants ? -->
        <div class="oui-non-section">
          <p>Acceptez-vous les enfants ?</p>

          <label>
            <input type="radio" formControlName="acceptChildren" value="oui" />
            Oui
          </label>

          <label>
            <input type="radio" formControlName="acceptChildren" value="non" />
            Non
          </label>
        </div>

        <!-- Acceptez-vous les animaux domestiques ? -->
        <div class="oui-non-section">
          <p>Acceptez-vous les animaux domestiques ?</p>

          <label>
            <input type="radio" formControlName="acceptPets" value="oui" />
            Oui
          </label>

          <label>
            <input type="radio" formControlName="acceptPets" value="Sur_demande" />
            Sur demande
          </label>

          <label>
            <input type="radio" formControlName="acceptPets" value="non" />
            Non
          </label>
        </div>

        <!-- Bouton pour soumettre le formulaire -->
        <!-- <button (click)="onSubmit()">Soumettre</button> -->
      </section>

      <section>
        <h1>Mode de paiement</h1>
        <div *ngFor="let paiement of paiements" class="payment-option" style="display: flex; align-items: center;">
          <input type="checkbox" [formControlName]="'paiement' + paiement.id" id="{{ paiement.label }}" />
          <label for="{{ paiement.label }}" style="display: flex; align-items: center; margin-left: 10px;">
            {{ paiement.label }}
            <div *ngFor="let img of paiement.imgSrc" style="margin-left: 10px;">
              <img [src]="img" alt="{{ paiement.label }}" style="width: 20px; height: auto;" />
            </div>
          </label>
        </div>
      </section>
    </form>
  </div>
