<div class="container">
    <div class="card">
        <form action="" class="form">
            <h2>Authentification à 2 facteurs</h2>
            <p>
                Nous vous avons envoyé un code de vérification au <br>
                numéro de téléphone suivant : +24*****5478. Si vous ne <br>
                pouvez pas procéder à la vérification avec cette méthode,<br>
                consultez <a href="">les autres options</a>.
            </p>
            <div>
                <label for="code_2_facteurs">Code de vérification</label><br>
                <input type="tel" name="code_2_facteurs" id="code_2_facteurs" class="passe"><br>
                <button class="button bouton-unique1" type="button">Vérifier maintenant</button>
            </div>
            <div class="div-link">
                <a href="">
                    Renvoyer le code
                </a>
            </div>
        </form>
        <div class="hr">
            <hr>
        </div>
        </div>
</div>  