<div class="container">
  <div class="main-card">
    <div>
      <div class="card-header">
        <h3>Type d'établissement</h3>
      </div>
      <div class="card-content">
        <form>
          <div class="form-field full-width">
            <label for="property-type">Sélectionnez le type de votre propriété</label>
            <select id="property-type" required>
              <option *ngFor="let type of propertyTypes" [value]="type.value">{{ type.label }}</option>
            </select>
          </div>          
          <div class="form-field full-width" id="paragraphe">
            <label for="establishment-name">Ajouter une autre activité</label>
            <input type="text" id="establishment-name" required>
          </div>
          <div class="form-field full-width" id="paragraphe">
            <label for="establishment-name">Nom de l'établissement</label>
            <input type="text" id="establishment-name" required>
            <p>Il s'agit du nom que les clients verront lorsqu'ils rechercheront un hébergement.</p>
          </div>
          <div class="form-field full-width">
            <label for="description">Description de votre établissement</label>
            <textarea id="description" ></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
