<div class="container">
    <div class="card">
        <form action="" class="form">
            <h2>Vous ne parvenez pas à vous <br>
                connecter ?</h2>
            <p>Ne vous inquietez pas, voici quelque options pour vous <br>
                aider.</p>
           <div class="link">
            <a [routerLink]="['/mot-de-passe-oublier']"><mat-icon class="icons">lock</mat-icon>Vous avez oublié votre mot de passe ?</a>
           </div>
           <div class="hr">
                <hr>
            </div>
           <div class="link">
            <a [routerLink]="['/contacter-equipe']"><mat-icon class="icons">person_pin</mat-icon>Vous avez oublié votre nom d'utilisateur ?</a>
           </div>
           <div class="hr">
                <hr>
            </div>
           <div class="link">
            <a [routerLink]="['/connectez-vous']"><mat-icon class="icons">input</mat-icon>Se connecter</a>
           </div>
           <div class="hr">
                <hr>
            </div>
        </form>
        </div>
</div> 