.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 20px 0px 0;
  background-color: inherit;
  width: 70%;
}

mat-label{
  font-weight: 500;
}


.main-card {
  flex: 1 50%; /* Prend 60% de la largeur */
  background-color: white;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 90%;
    margin: 10px;
  }
}