<div class="container">
    <div class="card">
        <form action="" class="form">
            <div>
                <h2>Contactez le Service Clients</h2>
            <p>Nous vous rappelons que pour des raisons de sécurité, <br>
                nous pouvons uniquement autoriser les connexions <br>
                vérifiées par un appel ou un SMS. Si vous ne pouvez pas <br>
                utiliser temporairement l'un de vos numéros de téléphone <br>
                enregistrés, attendez d'y avoir à nouveau accès pour vous <br>
                connecter. Si vous rencontrez un problème que vous <br>
                devez régler rapidement mais que vous ne pouvez pas <br>
                utiliser l'un de ces numéros de téléphone, <a href="">veuillez nous <br>
                    contacter ici.</a>
            </p>
            </div>
            <div class="div-btn">
                <button class="button bouton-unique1" type="button">Retour à la vérifier maintenant</button>
            </div>
           <!-- <div class="link">
            <a [routerLink]="['']">Vous avez oublié votre nom d'utilisateur ?</a>
           </div> -->
        </form>
        <div class="hr">
            <hr>
        </div>
        </div>
</div> 