.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0 10px 0;
  /* margin-bottom: 5px; */
  background-color: initial;
  width: 100%;
}

/* Styles pour les titres */
mat-label {
  font-weight: 500;
}

.custom-icon {
  color: white; /* Couleur de l'icône */
  background-color: black; /* Fond noir */
  border-radius: 50%; /* Pour donner un effet de cercle autour de l'icône */
  padding: 5px; /* Pour ajouter un espace autour de l'icône */
}

.main-card {
  flex:1 1 49%; /* Prend 60% de la largeur */
  background-color: white;
}

/* Sous-carte */
.sub-card {
  flex:1 1 380px;
  margin-bottom: 10px; /* Espace de 10px entre les cartes superposées */
  background-color: inherit;
}

#haut {

  background-color: white;
}

ul {
  margin-top: 50px;
}

.full-width {
  width: 100%; /* Prendre toute la largeur sur petits écrans */
}

/* Ajout de styles pour la responsivité */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Passage en colonne sur petits écrans */
    padding: 20px; /* Réduction du padding */
    margin-left: 10px; /* Ajustement des marges */
    margin-right: 10px; /* Ajustement des marges */
  }

  .main-card,
  .sub-card {
    width: 90%; /* Prendre 100% de la largeur sur petits écrans */
  
  }

  #haut {
    width: auto; /* S'assurer que la sous-carte s'adapte bien */
  }

  .full-width {
    width: 100%; /* S'assurer que les champs prennent toute la largeur */
  }
}
