<div class="container">
  <div class="main-card">
    <mat-card-content>
      <mat-card-title>Chambre luxieuse</mat-card-title><br>
      <form [formGroup]="form">
        <br>
        <div class="full-width">
          <label for="hebergement">Nom de l'hébergement</label><br>
          <select id="hebergement" required>
            <option *ngFor="let option of options" [value]="option.value">
              {{ option.viewValue }}
            </option>
          </select>
        </div>
        <div class="full-width">
          <mat-label>Combien d'hébergements de ce type (hébergement) <br> possédez-vous?</mat-label><br>
          <input type="number" name="number" id="inputNumber" placeholder="0" >
        </div>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>
        <mat-card-title>Quels lits sont disponibles dans cette catégorie ?</mat-card-title><br><br>
        <mat-card *ngFor="let lit of lits; let i = index" class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title class="photo">
                <div class="lit-info">
                  <img mat-card-sm-image src="assets/img/lit.png" class="lit-image">
                  <span class="lit-details">{{ lit.name }} <br> {{ lit.size }}</span>
                </div>
              </mat-card-title>
            </mat-card-title-group>
            <div class="quantity-container">
              <div class="quantity">
                <button type="button" (click)="quantity('min', i)" class="btn btn-black" [disabled]="productQuantities[i] <= 1"><strong>-</strong></button>
                <input class="inputbox" type="text" [value]="productQuantities[i]" id="" disabled>
                <button type="button" (click)="quantity('max', i)" class="btn btn-blue"><strong>+</strong></button>
              </div>
            </div>
          </mat-card-header>
        </mat-card>
        <div class="full-width">
          <p>Combien de personnes peuvent séjourner dans cette
            catégorie hébergement ?
          </p>
          <div class="quantity-container full-width" style="width: 140px;" style="border: 0.2px solid #a9a8a8;">
            <div class="quantity">
              <button type="button" (click)="quantity1('min')" class="btn btn-black" [disabled]="productquantity <= 1"><strong>-</strong></button>
              <input class="inputbox" type="text" disabled [value]="productquantity" id="">
              <button type="button" (click)="quantity1('max')" class="btn btn-blue"><strong>+</strong></button>
            </div>
          </div>
        </div>

        <div class="full-width">
          <p>
            Quelle est la superficie de cet hébergement ?
          </p>
          <div class="full-width">
            <input type="number" name="" id="inputNumber2" placeholder="0">
            <!-- <label for="fruits">Choisissez un fruit :</label> -->
            <select id="mettre" name="mettre">
              <option value="apple">mètres carrés</option>
              <option value="banana">pieds carrés</option>
            </select>
          </div>
        </div>

        <div class="full-width">
          <p>
            Est-il possible de fumer dans cet hébergement ?
          </p>
          <div>
            <label>
              <input type="radio" name="choix" value="oui" />
              Oui
            </label>

            <label>
              <input type="radio" name="choix" value="non" />
              Non
            </label>
          </div>
        </div>
        <hr>
        <div class="full-width">
          <label>Quels équipements de salle de bains sont
            disponibles dans cet hébergement ?</label>
          <div *ngFor="let jardin of jardins">
            <input type="checkbox" [formControlName]="'jardin' + jardin.id" />
            {{ jardin.label }}
          </div>
        </div>
        <hr>
        <div class="full-width">
          <h3>Quels équipements sont à disposition des
            clients dans cet hébergement ?</h3>
            <label for="">Principaux équipements</label><br>
          <div *ngFor="let equipement of equipements">
            <input type="checkbox" [formControlName]="'équipement' + equipement.id" />
            {{ equipement.label }}
          </div>
        </div>
        <hr>
        <div class="full-width">
            <label>Vues et extérieur</label>
          <div *ngFor="let vue of vues">
            <input type="checkbox" [formControlName]="'vue' + vue.id" />
            {{ vue.label }}
          </div>
        </div>
        <hr>
        <div class="full-width">
            <label>Repas et boissons</label>
          <div *ngFor="let rep of repas">
            <input type="checkbox" [formControlName]="'repas' + rep.id" />
            {{ rep.label }}
          </div>
        </div>

        <div class="full-width">
          <h3>Fixez un tarif par nuit pour cet hébergement</h3>
        </div>
      </form>
    </mat-card-content>
  </div>
</div>
