<div class="container">
  <h2>Avis des clients</h2>
  <p>Découvrez ce que vos clients ont pensé de leur séjour ! Vous pouvez lire les commentaires laissés par les clients et y répondre.</p>

  <div *ngFor="let comment of comments" class="comment">
    <!-- Première ligne : icône du profil et nom -->
    <div class="comment-header">
      <img src="assets/img/icons8.png" alt="Profil" class="profile-icon" />
      <strong>{{ comment.userId }}</strong>
    </div>
 
    <!-- Deuxième ligne : date du commentaire -->
    <div class="comment-date">
      Commentaire {{ comment.createdDate | date:'dd/MM/yyyy' }}
    </div>

    <!-- Troisième ligne : appréciation -->
    <div class="comment-rating">
      <div style="display: flex; align-items: center;">
          <span style="margin-right: 5px;">{{ comment.rating }}</span>
          <span *ngFor="let i of [].constructor(5); let idx = index" 
                [ngClass]="{'circle': true, 'filled': idx < comment.rating, 'outline': idx >= comment.rating}">
          </span>
      </div>
      <div class="rating-text">
          <span *ngIf="comment.rating === 5">Satisfait</span>
          <span *ngIf="comment.rating === 4">Satisfait</span>
          <span *ngIf="comment.rating === 3">Moyen</span>
          <span *ngIf="comment.rating === 2">Pas satisfait</span>
          <span *ngIf="comment.rating === 1">Pas satisfait</span>
      </div>
  </div>


    <!-- Quatrième ligne : commentaire -->
    <div class="comment-content">
      <div class="commentaire">
          <p>{{ comment.content }}</p>
      </div>
      <button class="reply-button" (click)="toggleReply(comment.id)">Répondre</button>
  </div>

    <!-- Réponses -->
    <div *ngFor="let reply of comment.replies" class="reply">
      <p style="margin-left:20px;"><strong>{{ reply.userId }}</strong> : {{ reply.content }} - {{ reply.createdDate | date }}</p>
    </div>

    <!-- Champ de réponse -->
    <div *ngIf="isReplying(comment.id)" class="reponse">
      <input #replyInput placeholder="Répondre..." [(ngModel)]="replyContent[comment.id]" />
      <button [disabled]="!replyContent[comment.id]" (click)="addReply(comment.id, replyContent[comment.id]); replyContent[comment.id] = ''">Envoyer</button>
    </div>
  </div>

  <!-- <h3>Laissez un commentaire</h3>

  <input [(ngModel)]="newCommentUserId" placeholder="Identifiant de l'utilisateur" />
  <input [(ngModel)]="newCommentContent" placeholder="Laissez un commentaire..." />
  <input type="number" [(ngModel)]="newCommentRating" placeholder="Étoiles (1-5)" min="1" max="5" />
  
  <button (click)="addComment()">Envoyer</button> -->
</div>
