<div class="container">
    <div class="row">
        <div class="gauche">
            <img src="/assets/img/logo.png" alt="Logo" height="100" width="100">
            <p>Yori votre plateforme <br> touristique made in africa</p>
        </div>     
        <div class="vertical-line"></div>   
        <div class="droit">
            <h4>Contact</h4>
            <p> Help / FAQ</p>
            <p>contactez-nous</p>
        </div>
    </div>
    <div class="large">
        &copy;Copyright Société Numerique Du Gabon 2023 - 2024
    </div>
</div>
  