<div class="container">
    <div>
        <mat-tab-group>
            <mat-tab label="Tout">
                <div *ngFor="let etablissement of newEtablissement" class="etablissement-container">
                    <div class="etablissement-preview">
                        <div class="etablissement-content">
                            <strong>{{ etablissement.title }}</strong>
                        </div>
                        <span class="etablissement-date">{{ etablissement.date | date:'dd MMMM yyyy à HH:mm' }}</span>
        
                        <!-- Afficher le bouton si l'état est 'pending' -->
                        <ng-container *ngIf="etablissement.examStatus === 'pending'; else approvedOrDeclined">
                            <button (click)="openPopup(etablissement)" class="examiner-button">
                                {{ etablissement.buttonText }}
                            </button>
                        </ng-container>
        
                        <!-- Template pour les états approuvé, décliné ou en attente -->
                        <ng-template #approvedOrDeclined>
                            <!-- Afficher "En attente d'examen" comme un bouton cliquable -->
                            <ng-container *ngIf="etablissement.examStatus === 'waiting'">
                                <button (click)="openPopup(etablissement)" class="examiner-button">
                                    En attente d'examen
                                </button>
                            </ng-container>
        
                            <!-- Afficher le texte brut si approuvé ou décliné avec les classes appropriées -->
                            <ng-container *ngIf="etablissement.examStatus === 'approved'">
                                <span class="approved">{{ etablissement.buttonText }}</span>
                            </ng-container>
        
                            <ng-container *ngIf="etablissement.examStatus === 'declined'">
                                <span class="declined">{{ etablissement.buttonText }}</span>
                            </ng-container>
                        </ng-template>
                    </div>
                </div>                                                
            </mat-tab>
        
            <mat-tab label="Non lu">
                <div *ngFor="let etablissement of newEtablissement" class="etablissement-container">
                    <div *ngIf="etablissement.examStatus === 'pending'" class="etablissement-preview">
                        <div class="etablissement-content">
                            <strong>{{ etablissement.title }}</strong>
                        </div>
                        <span class="etablissement-date">{{ etablissement.date | date:'dd MMMM yyyy à HH:mm' }}</span>
        
                        <button (click)="openPopup(etablissement)" class="examiner-button">
                            {{ etablissement.buttonText }}
                        </button>
                    </div>
                </div>
            </mat-tab>
        
            <mat-tab label="Lu">
                <div *ngFor="let etablissement of newEtablissement" class="etablissement-container">
                    <div *ngIf="etablissement.examStatus !== 'pending'" class="etablissement-preview">
                        <div class="etablissement-content">
                            <strong>{{ etablissement.title }}</strong>
                        </div>
                        <span class="etablissement-date">{{ etablissement.date | date:'dd MMMM yyyy à HH:mm' }}</span>
        
                        <!-- Afficher le texte du statut comme un texte brut ou un bouton cliquable -->
                        <ng-container *ngIf="etablissement.examStatus === 'waiting'">
                            <button (click)="openPopup(etablissement)" class="examiner-button">En attente d'examen</button>
                        </ng-container>
        
                        <!-- Afficher le texte brut si approuvé ou décliné -->
                        <ng-container *ngIf="etablissement.examStatus === 'approved'">
                            <span class="approved">{{ etablissement.buttonText }}</span>
                        </ng-container>
        
                        <ng-container *ngIf="etablissement.examStatus === 'declined'">
                            <span class="declined">{{ etablissement.buttonText }}</span>
                        </ng-container>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        
                
    </div>
</div>