<div class="container">
    <div class="card">
        <form action="" class="form">
            <h2>Connectez-vous pour gérer <br> votre établissement</h2>
            <p>Saisissez votre mot de passe Yori.com associé à l'adesse <br>
                chrismael408&#64;gmail.com.</p>
            <div>
                <label for="nom_utilisateur">Mot de passe</label><br>
                <input type="password" name="password" id="nom_utilisateur" placeholder="saisissez votre mot de passe"><br>
                <button class="button bouton-unique1" type="button">Suivant</button>
            </div>
           <div class="link">
            <a [routerLink]="['/passe-oublier']">Vous-avez oublié votre mot de passe ?</a>
           </div>
        </form>
        <div class="hr">
            <hr>
        </div>
        </div>
</div>
