<div class="container">
    <div class="top-bar">
        <div class="logo">
          <img src="assets/img/logo.png" alt="" height="50" width="50">
          <p>nom de l'hôtel</p>
          <p><a href="">Voir mon établissement</a></p><mat-icon style="margin-top: 13px; margin-left: -15px; color: white;">visibility</mat-icon>
        </div>
          <div class="dropdown2">
            <!-- <p class="monnaie">FCFA (XAF)</p> -->
             <p>
              <select name="" id="select">
                <option value="">Franc CFA (AXF)</option>
                <option value="">Euro (EUR)</option>
                <option value="">Dollars (USD)</option>
              </select>
             </p>
            <p style="display: flex;"><mat-icon class="icon">language</mat-icon> <span style="color: white; margin: 0;">FR</span></p>
          </div>
          
        <div class="dropdown">
          <button class="dropdown-button">
            <p><mat-icon class="icon">account_circle</mat-icon></p>
          </button>
          <div class="dropdown-menu">
            <a href="/page1">Modifier le mot de passe</a>
            <a href="#">Déconnexion</a>
          </div>
        </div>
    </div>
</div> 