.container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 0; 
  background-color: initial;
  width: 100%;
}

mat-label {
  font-weight: 500;
}

.custom-icon {
  color: white; /* Couleur de l'icône */
  background-color: black; /* Fond noir */
  border-radius: 50%; /* Pour donner un effet de cercle autour de l'icône */
  padding: 5px; /* Pour ajouter un espace autour de l'icône */
}

.main-card {
  flex: 1 1 62%; /* Prend 60% de la largeur */
  background-color: white;
  margin-right: 20px; /* Espacement à droite */
}

.sub-card {
  flex: 1 1 40%; 
  background-color: inherit;
}

#haut {
  background-color: white;
  /* margin-top: 10px; */
  width: 100%; /* Prend toute la largeur sur petits écrans */
}

ul {
  margin-top: 50px;
}

.full-width {
  width: 100%; /* Prend toute la largeur sur petits écrans */
}

.custom-icon {
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}

/* Ajout de styles pour la responsivité */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Passe en colonne sur petits écrans */
    padding: 10px; /* Réduction du padding sur petits écrans */
  }

  .main-card,
  .sub-card {
    width: 93%; /* Prend toute la largeur sur petits écrans */
    margin: 10px 0; /* Marges verticales */
  }
}
