<div class="container">
    <div class="card">
        <form action="" class="form">
            <h2>Contacter l'équipe d'assistance</h2>
            <p>Nous ne pouvons malheureusement pas vous aider à <br>
                retrouver votre nom d'utilisateur. Veuillez contacter votre <br>
                équipe d'assistance locale.
            </p>
            <div class="div-btn">
                <button class="button bouton-unique1" type="button">Envoyer le lien de réinisialisation</button>
            </div>
           <div class="link">
            <a [routerLink]="['']">Vous avez oublié votre nom d'utilisateur ?</a>
           </div>
        </form>
        <div class="hr">
            <hr>
        </div>
        </div>
</div> 