<div class="container">
    <div class="card">
        <form action="" class="form">
            <h2>Paramètre du compte</h2>
            <p>Gérer votre expérience sur Yori.com</p>
            <div>
                <label for="password">Mot de passe actuel</label><br>
                <input [type]="showPad?'text':'password'" name="password" id="password" class="passe"><br>
                <label for="password2">Nouveau mot de passe</label><br>
                <input [type]="showPad?'text':'password'" name="password2" id="password2" class="passe"><br>
                <label for="confirm_pass">Confirmez le mot de passe</label><br>
                <input type="password" name="confirm_pass" id="confirm_pass" class="passe"><br>
                <button class="button bouton-unique1" type="button">Modifier le mot de passe</button><br>
                <button class="button bouton-unique2" type="button">Annuler</button>
            </div>
        </form>
        <div class="hr">
            <hr>
        </div>
        </div>
</div>  