.tab-container {
  position: relative;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  background-color:#77B5FE;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}


.tab-navigation{
    padding-bottom: 10px;
  }
  
  .tab-navigation-buttons {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    gap: 10px; /* Espacement entre les boutons */
    margin-top: 5px; /* Espace au-dessus des boutons */
  }
  
  .tab-navigation-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    gap: 5px; /* Espacement entre l'icône et le texte */
  }
  
  mat-tab {
    margin-bottom: 20px;
  }
  
  .tab-navigation-buttons button:first-child {
    background-color: #fff; /* Couleur de fond du bouton "Précédent" */
    color: #77B5FE; /* Couleur du texte du bouton "Précédent" */
    border: 2px solid #77B5FE; /* Bordure pour le bouton "Précédent" */
  }
  
  .tab-navigation-buttons button:last-child {
    background-color: #77B5FE; /* Couleur de fond du bouton "Suivant" */
    color: #fff; /* Couleur du texte du bouton "Suivant" */
  }
  
  .tab-navigation-buttons button:hover {
    opacity: 0.8;
  }
  
  .tab-navigation-buttons button:active {
    transform: scale(0.95);
  }
  
  .chevron {
    font-size: 20px; /* Taille des chevrons */
  }

  
  .circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .mat-form-field {
    position: absolute; /* Positionne le champ de formulaire par rapport à son conteneur */
    top: 100%; /* Positionne juste en dessous de la circle-container */
    left: 0; /* Aligne à gauche */
    z-index: 1000; /* Assure que le select est au-dessus */
  }
  
  mat-icon{
    width: 50px;
    height: 30px;
  }

  .circle {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 16px; */
    transition: background-color 0.3s ease;
  }
  

  
  .circle-title {
    margin-top: 5px;
    font-size: 12px;
    color: #ffffff; 
    text-align: center;
  }
  
  .tab-navigation.style1, .tab-navigation.style3, .tab-navigation.style4,.tab-navigation.style5{
    margin-right: 460px;
    margin-left: 350px;
  }
  
  .tab-navigation.style2,.tab-navigation.style6{
    margin-right: 395px;
    margin-left: 400px;
  }
  
  .tab-navigation.style0{
    margin-left: 450px;
  }


