    <div class="tab-container">
      <mat-tab-group [(selectedIndex)]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" ><mat-icon>home</mat-icon></div>
              <div class="circle-title">Accueil</div>
            </div>
          </ng-template>
          <app-accueil-pro></app-accueil-pro>
        </mat-tab>

        <!-- <mat-tab>
          <ng-template mat-tab-label>
            <div class="circle-container">
              <div class="circle" (click)="openSelect(select)">
                <mat-icon>border_color</mat-icon>
              </div>
              <select #select (change)="showComponent($event)" style="background-color: #77B5FE; color: white; border: none;">
                <option value="" disabled [selected]="currentComponent === null">Etablissement</option>
                <option value="composant1" [selected]="currentComponent === 'composant1'">info sur l'établissement</option>
                <option value="composant2" [selected]="currentComponent === 'composant2'">type d'établissement</option>
                <option value="composant3" [selected]="currentComponent === 'composant3'">photos</option>
                <option value="composant4" [selected]="currentComponent === 'composant4'">équipement et service</option>
                <option value="composant5" [selected]="currentComponent === 'composant5'">hébergement</option>
              </select>
            </div>
          </ng-template>
          <div *ngIf="currentComponent">
            <ng-container [ngSwitch]="currentComponent">
              <app-info-etablissement *ngSwitchCase="'composant1'"></app-info-etablissement>
              <app-type *ngSwitchCase="'composant2'"></app-type>
              <app-telecharge-photos *ngSwitchCase="'composant3'"></app-telecharge-photos>
              <app-equipement-service *ngSwitchCase="'composant4'"></app-equipement-service>
              <app-hebergements *ngSwitchCase="'composant5'"></app-hebergements>
            </ng-container>
          </div>
        </mat-tab> -->

        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" ><mat-icon> description</mat-icon></div>
              <div class="circle-title">Comptes propriétaires</div>
            </div>
          </ng-template>
         <!-- <app-boite-reception></app-boite-reception> -->
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" >
                <mat-icon>mail_outline</mat-icon>
              </div>
              <div class="circle-title">Boite de reception</div>
            </div>
          </ng-template>
          <!-- <app-commentaires></app-commentaires> -->
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" >
                <mat-icon>notifications_active</mat-icon>
              </div>
              <div class="circle-title">Notifications</div>
            </div>
          </ng-template>
          <!-- <app-factures></app-factures> -->
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" ><mat-icon>trending_up</mat-icon></div>
              <div class="circle-title">Analyse</div>
            </div>
          </ng-template>
          <!-- <app-analyse></app-analyse> -->
        </mat-tab>
      </mat-tab-group>
    <div>
      <app-footer-pro></app-footer-pro>
    </div>
  </div>

