<div class="home-container"> 
  <section class="features">
      <div class="feature">
          <div class="feature-content">
              <h2>Découvrez avec Yori une opportunité unique pour promouvoir la biodiversité et la richesse culturelle africaine : réservez et soumettez votre établissement dès maintenant !</h2>
          </div>
      </div>
  </section>
  <div class="Tsections">
    <!-- première section -->
  <section class="custom-section akg">
    <div class="main-card">
        <div class="flex-container">
            <!-- Sous-card avec du texte -->
            <div class="text-card">
                <div class="content-left"> 
                    <p class="border-left">Application mobile</p>
                    <h1>Téléchargez Notre <br> Application</h1>
                    <p>Téléchargez gratuitement notre <br> application via playstore et l'app <br> store.</p>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="assets/img/googlePlay.png" alt="" height="50">
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <img src="assets/img/AppStore.png" alt="" height="50">
                    </a>
                    <br>
                    <a [routerLink]="['/espace1']">
                        <button class="premier">Télécharger maintenant</button>
                    </a>
                </div>
            </div>
            <!-- Sous-card avec des images -->
            <div class="image-card">
                <div class="image-container">
                    <img src="assets/img/double.png" alt="Image 1">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- deuxième section -->
 <section class="custom-section akg">
      <div class="main-card">
          <div class="flex-container">
              <!-- Sous-card avec des images -->
              <div class="image-card">
                  <div class="image-container">
                      <img src="assets/img/main.png" alt="Image 2">
                  </div>
              </div>
              <!-- Sous-card avec du texte -->
              <div class="text-card">
                  <div class="content-right">
                      <p class="border-right">A propos</p>
                      <h1>Tout Savoir</h1>
                      <p>
                          Yori est une application <br> qui se distingue par sa mission de <br> promouvoir la culture et la biodiversité <br> du continent, avec un accent sur <br> le tourisme. L'objectif est de valoriser <br> la richesse culturelle et naturelle de <br> l'Afrique en créant des expériences <br> mémorables, mettant en avant <br> la diversité culturelle et la beauté du <br> continent. À travers ses initiatives <br> Yori contribue à préserver la <br> culture et la biodiversité africaines <br> enrichissant l'industrie touristique.
                      </p>
                  </div>
              </div>
          </div>
      </div>
 </section>

<!-- troisième section -->
<section class="custom-section akg">
    <div class="main-card">
        <div class="flex-container">
            <!-- Sous-card avec du texte -->
            <div class="text-card">
                <div class="content-left2">
                    <p class="border-left">Notre mission</p>
                    <h1>Mission de Yori</h1>
                    <p>
                        Notre mission est de promouvoir la richesse <br>culturelle et la biodiversité du tourisme africain,<br> attirant les visiteurs mondiaux vers les merveilles <br>, naturelles du continent. L'Afrique, berceau de <br> l'humanité, déborde de trésors à découvrir, offrant <br> une expérience unique grâce à son paysage varié <br> et sa faune abondante. Nous nous engageons à <br> faire connaître ces richesses uniques et à <br> encourager le tourisme durable. En unissant nos <br> efforts, nous contribuons à préserver et valoriser <br> ce patrimoine exceptionnel.
                    </p>
                </div>
            </div>
            <!-- Sous-card avec des images -->
            <div class="image-card">
                <div class="image-container">
                    <img src="assets/img/eleph.png" alt="Elephant">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- quatrième section -->
<section class="custom-section akg">
    <div class="main-card">
        <div class="flex-container">
            <!-- Sous-card avec des images -->
            <div class="image-card">
                <div class="image-container">
                    <img src="assets/img/img_service.png" alt="Image 2">
                </div>
            </div>

            <!-- Sous-card avec du texte -->
            <div class="text-card">
                <div class="content-right">
                    <p class="border-right">Nos cibles</p>
                    <h1>Services Visés</h1>
                    <p>
                        Yori se focalise sur plusieurs services,<br> dont l'hôtellerie, le tourisme, ainsi que les <br>transports routier et aérien. Notre objectif <br>est de mettre en avant la richesse culturelle <br>et la biodiversité de l'Afrique à travers ces <br>secteurs clés. Nous visons à offrir une <br>expérience touristique complète et <br>immersive, mettant en valeur les trésors <br>culturels et naturels du continent en <br>combinant ces différents services.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
  </div>
  <!-- cinquième section -->
  <section class="custom-section" id="fin">
      <div class="main-card">
          <div class="flex-container">
              <!-- Sous-card avec des images -->
              <div>
                  <div>
                      <h1>Vous souhaitez louer votre établissement ?</h1>
                      <p style="text-align: left;">
                          Ajoutez votre espace en publiant votre<br>
                          annonce sur notre site web en quelques clics.
                      </p>
                  </div>
              </div>

              <!-- Sous-card avec du texte -->
              <div class="text-card">
                  <div class="content-right">
                      <br>
                      <a class="a-link" [routerLink]="['/espace1']">
                          <button>Ajoutez votre établissement</button>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
 