<div class="container">
    <div class="card">
        <div class="top">
            <div>
                <p>A propos de nous</p>
            </div>
            <div>
                <p>Charte confidentialité et informations sur les cookies</p>
            </div>
            <div>
                <p>FAQ</p>
            </div>
            <div class="button">
                <button type="button">
                    Voir mon établissement
                </button>
            </div>
        </div>
        <div class="Copyright">
            <p>&copy; Copyright <strong>Yori.com</strong> 2024</p>
        </div>
    </div>
</div>