.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: initial;
  padding: 20px 0 10px 0;
  width: 100%;
  border-radius: 10px;
}

.main-card {
  flex: 1 1 580px; 
  background-color: white;
  border-radius: 10px;
}

.sub-card {
  flex:1 320px;
}


mat-card-title{
  margin-bottom: 20px;
  font-weight: 500;
}

#haut{
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  height: auto;
  width: auto;
}

.form-section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.time-selector {
  display: flex;
  gap: 20px;
  align-items: center;
}

.time-selector input[type="time"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 45%; /* Prend 45% de la largeur pour chaque input */
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.custom-icon {
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 90%;
    margin: 10px;
  }
}