.body {
    color: black;
    width: calc(100% - 5rem);
    position: relative;
    background: #ffffff;
    padding: 3rem;
  }
  
  .body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 1px;
  }